In [8]:
# !pip install folium

In [9]:
import folium
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import koreanize_matplotlib

In [ ]:
# 기본 서울 지도 표시하기
seoul = folium.Map(location=(37.55 , 126.98), zoom_start=12)
# seoul

In [11]:
# 서울 지하철 2021년 승하차 데이터
data = pd.read_csv("./data/seoul-metro-2021.logs.csv")
data.head()

                       timestamp  station_code  people_in  people_out
0  2021-01-01T05:00:00.000+09:00           150         86          85
1  2021-01-01T06:00:00.000+09:00           150        111         355
2  2021-01-01T07:00:00.000+09:00           150        157         438
3  2021-01-01T08:00:00.000+09:00           150        306         592
4  2021-01-01T09:00:00.000+09:00           150        333         841

In [12]:
data.info(show_counts='True')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1941553 entries, 0 to 1941552
Data columns (total 4 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   timestamp     1941553 non-null  object
 1   station_code  1941553 non-null  int64
 2   people_in     1941553 non-null  int64
 3   people_out    1941553 non-null  int64
dtypes: int64(3), object(1)
memory usage: 59.3+ MB

In [13]:
# 서울 지하철 역 정보 파일
station_info = pd.read_csv("./data/seoul-metro-station-info.csv")
station_info

,station.code,station.fr_code,line.num,line.name,line.name_sub,line.station_seq,station.name_full,station.name,station.name_chc,station.name_chn,station.name_en,station.name_jp,geo.latitude,geo.longitude,geo.sigungu_code,geo.sigungu_name,geo.addres_road,geo.address_land,geo.phone
0,158,124,1,1호선,지하철1호선,1,청량리(서울시립대입구),청량리|서울시립대입구,祭基洞,祭基洞,Jegidong,チェギドン,37.580178,127.046835,11060,동대문구,서울특별시 동대문구 왕산로 지하205(전농동),서울특별시 동대문구 전농동 620-69 청량리역(1호선),02-6110-1241
1,157,125,1,1호선,지하철1호선,2,제기동,제기동,新設洞,新设洞,Sinseoldong,シンソルトン,37.578103,127.034893,11060,동대문구,서울특별시 동대문구 왕산로 지하93(제기동),서울특별시 동대문구 제기동 65 제기동역(1호선),02-6110-1251
2,156,126,1,1호선,지하철1호선,3,신설동,신설동,東廟앞,东庙,Dongmyo,トンミョアプ,37.575297,127.025087,11060,동대문구,서울특별시 동대문구 왕산로 지하1(신설동),서울특별시 동대문구 신설동 76-5 신설동역(1호선),02-6110-1261
3,159,127,1,1호선,지하철1호선,4,동묘앞,동묘앞,淸凉里(서울市立大入口),清凉里(首尔市立大学),Cheongnyangni(University of Seoul),チョンニャンニ,37.572627,127.016429,11010,종로구,서울특별시 종로구 종로 359(숭인동),서울특별시 종로구 숭인동 117 동묘앞역(1호선),02-6110-1271
4,155,128,1,1호선,지하철1호선,5,동대문,동대문,東大門,东大门,Dongdaemun,トンデムン,37.571420,127.009745,11010,종로구,서울특별시 종로구 종로 지하302(창신동),서울특별시 종로구 창신동 492-1 동대문역(1호선),02-6110-1281
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,2823,823,8,8호선,지하철8호선,14,남한산성입구(성남법원.검찰청),남한산성입구|성남법원|검찰청,南漢山城入口(城南法院檢察廳),南汉山城(城南法院·检察厅),Namhansanseong(Seongnam Court & Prosecutors' O...,ナムハンサンソンイック,37.451535,127.159816,31021,성남시수정구,경기도 성남시 수정구 산성대로 지하445(단대동),경기도 성남시 수정구 단대동 96 남한산성입구역(8호선),02-6311-8231
281,2824,824,8,8호선,지하철8호선,15,단대오거리,단대오거리,丹垈오거리,丹垈五岔路口,Dandaeogeori,タンデオゴリ,37.445210,127.156866,31021,성남시수정구,경기도 성남시 수정구 산성대로 지하365(신흥동),경기도 성남시 수정구 신흥동 2467 단대오거리역(8호선),02-6311-8241
282,2825,825,8,8호선,지하철8호선,16,신흥,신흥,新興,新兴,Sinheung,シンフン,37.440918,127.147564,31021,성남시수정구,경기도 성남시 수정구 산성대로 지하280(신흥동),경기도 성남시 수정구 신흥동 2467 신흥역(8호선),02-6311-8251
283,2826,826,8,8호선,지하철8호선,17,수진,수진,壽進,寿进,Sujin,スジン,37.437428,127.140722,31021,성남시수정구,경기도 성남시 수정구 산성대로 지하200(수진동),경기도 성남시 수정구 수진동 2205-1 수진역(8호선),02-6311-8261
284,2827,827,8,8호선,지하철8호선,18,모란,모란,牡丹,牡丹,Moran,モラン,37.432130,127.129087,31021,성남시수정구,경기도 성남시 수정구 산성대로 지하100(수진동),경기도 성남시 수정구 수진동 4518 모란역(8호선),02-6311-8271

In [14]:
station_info['line.name'].unique()

array(['1호선', '2호선', '3호선', '4호선', '5호선', '6호선', '7호선', '8호선'],
      dtype=object)

In [15]:
station_info['line.name_sub'].unique()

array(['지하철1호선', '을지로순환선', '을지로순환선|성수지선', '을지로순환선|신정지선', '성수지선', '신정지선',
       '지하철3호선', '지하철4호선', '지하철5호선본선', '지하철5호선본선|마천지선', '지하철5호선하남선',
       '마천지선', '지하철6호선', '지하철7호선', '지하철8호선'], dtype=object)

In [16]:
station_info.columns

Index(['station.code', 'station.fr_code', 'line.num', 'line.name',
       'line.name_sub', 'line.station_seq', 'station.name_full',
       'station.name', 'station.name_chc', 'station.name_chn',
       'station.name_en', 'station.name_jp', 'geo.latitude', 'geo.longitude',
       'geo.sigungu_code', 'geo.sigungu_name', 'geo.addres_road',
       'geo.address_land', 'geo.phone'],
      dtype='object')

In [17]:
station_info = station_info[['station.code', 'line.name', 'station.name_full', 'geo.latitude', 'geo.longitude']]
station_info

     station.code line.name station.name_full  geo.latitude  geo.longitude
0             158       1호선      청량리(서울시립대입구)     37.580178     127.046835
1             157       1호선               제기동     37.578103     127.034893
2             156       1호선               신설동     37.575297     127.025087
3             159       1호선               동묘앞     37.572627     127.016429
4             155       1호선               동대문     37.571420     127.009745
..            ...       ...               ...           ...            ...
280          2823       8호선  남한산성입구(성남법원.검찰청)     37.451535     127.159816
281          2824       8호선             단대오거리     37.445210     127.156866
282          2825       8호선                신흥     37.440918     127.147564
283          2826       8호선                수진     37.437428     127.140722
284          2827       8호선                모란     37.432130     127.129087

[285 rows x 5 columns]

# data 와 station_info의 컬럼 이름 바꾸고 station_code를 index로 바꾸기

In [18]:
data.head()

                       timestamp  station_code  people_in  people_out
0  2021-01-01T05:00:00.000+09:00           150         86          85
1  2021-01-01T06:00:00.000+09:00           150        111         355
2  2021-01-01T07:00:00.000+09:00           150        157         438
3  2021-01-01T08:00:00.000+09:00           150        306         592
4  2021-01-01T09:00:00.000+09:00           150        333         841

In [19]:
data = data.set_index('station_code')
data.head()

                                  timestamp  people_in  people_out
station_code
150           2021-01-01T05:00:00.000+09:00         86          85
150           2021-01-01T06:00:00.000+09:00        111         355
150           2021-01-01T07:00:00.000+09:00        157         438
150           2021-01-01T08:00:00.000+09:00        306         592
150           2021-01-01T09:00:00.000+09:00        333         841

In [20]:
station_info.columns = ['station_code', 'line_name', 'station_name_full', 'geo_latitude', 'geo_longitude']
station_info.head()

   station_code line_name station_name_full  geo_latitude  geo_longitude
0           158       1호선      청량리(서울시립대입구)     37.580178     127.046835
1           157       1호선               제기동     37.578103     127.034893
2           156       1호선               신설동     37.575297     127.025087
3           159       1호선               동묘앞     37.572627     127.016429
4           155       1호선               동대문     37.571420     127.009745

In [21]:
station_info = station_info.set_index('station_code')
station_info.head()

             line_name station_name_full  geo_latitude  geo_longitude
station_code
158                1호선      청량리(서울시립대입구)     37.580178     127.046835
157                1호선               제기동     37.578103     127.034893
156                1호선               신설동     37.575297     127.025087
159                1호선               동묘앞     37.572627     127.016429
155                1호선               동대문     37.571420     127.009745

In [22]:
total = station_info.join(data)
total.head()

,line_name,station_name_full,geo_latitude,geo_longitude,timestamp,people_in,people_out
station_code,,,,,,,
158,1호선,청량리(서울시립대입구),37.580178,127.046835,2021-01-01T05:00:00.000+09:00,97.0,30.0
158,1호선,청량리(서울시립대입구),37.580178,127.046835,2021-01-01T06:00:00.000+09:00,101.0,109.0
158,1호선,청량리(서울시립대입구),37.580178,127.046835,2021-01-01T07:00:00.000+09:00,139.0,133.0
158,1호선,청량리(서울시립대입구),37.580178,127.046835,2021-01-01T08:00:00.000+09:00,202.0,182.0
158,1호선,청량리(서울시립대입구),37.580178,127.046835,2021-01-01T09:00:00.000+09:00,266.0,243.0

## 각 역 별 승하차 인원 구하기

In [23]:
total = total.reset_index()

In [24]:
people_in_out_by_station = total.groupby(['station_code', 'station_name_full'])[['people_in', 'people_out']].sum()
people_in_out_by_station.head(2)

                                 people_in  people_out
station_code station_name_full
150          서울역                12697273.0  12109991.0
151          시청                  5997344.0   6030491.0

In [25]:
people_in_out_by_station = people_in_out_by_station.reset_index()
people_in_out_by_station.head()

   station_code station_name_full   people_in  people_out
0           150               서울역  12697273.0  12109991.0
1           151                시청   5997344.0   6030491.0
2           152                종각   9638952.0   9284693.0
3           153        종로3가(탑골공원)   7704599.0   7090896.0
4           154              종로5가   6651283.0   6609055.0

In [26]:
people_in_out_by_station = people_in_out_by_station.set_index("station_code")
people_in_out_by_station.head()

             station_name_full   people_in  people_out
station_code
150                        서울역  12697273.0  12109991.0
151                         시청   5997344.0   6030491.0
152                         종각   9638952.0   9284693.0
153                 종로3가(탑골공원)   7704599.0   7090896.0
154                       종로5가   6651283.0   6609055.0

In [27]:
station_info

             line_name station_name_full  geo_latitude  geo_longitude
station_code
158                1호선      청량리(서울시립대입구)     37.580178     127.046835
157                1호선               제기동     37.578103     127.034893
156                1호선               신설동     37.575297     127.025087
159                1호선               동묘앞     37.572627     127.016429
155                1호선               동대문     37.571420     127.009745
...                ...               ...           ...            ...
2823               8호선  남한산성입구(성남법원.검찰청)     37.451535     127.159816
2824               8호선             단대오거리     37.445210     127.156866
2825               8호선                신흥     37.440918     127.147564
2826               8호선                수진     37.437428     127.140722
2827               8호선                모란     37.432130     127.129087

[285 rows x 4 columns]

In [28]:
people_in_out_by_station = people_in_out_by_station.join(station_info[['geo_latitude', 'geo_longitude']])
people_in_out_by_station.head()

,station_name_full,people_in,people_out,geo_latitude,geo_longitude
station_code,,,,,
150,서울역,12697273.0,12109991.0,37.554648,126.972559
151,시청,5997344.0,6030491.0,37.564718,126.977108
152,종각,9638952.0,9284693.0,37.570161,126.982923
153,종로3가(탑골공원),7704599.0,7090896.0,37.571607,126.991806
154,종로5가,6651283.0,6609055.0,37.570926,127.001849

# 지하철 탑승객 정보 지도에 표시하기

In [ ]:
# 기본 지도 만들기
seoul_in = folium.Map(location=[37.55, 126.98], zoom_start=12)
# seoul_in

In [30]:
from folium.plugins import HeatMap

In [31]:
people_in_out_by_station.columns

Index(['station_name_full', 'people_in', 'people_out', 'geo_latitude',
       'geo_longitude'],
      dtype='object')

In [ ]:
HeatMap(data=people_in_out_by_station[['geo_latitude', 'geo_longitude', 'people_in']]).add_to(seoul_in)
# seoul_in

In [33]:
people_in_out_by_station.sort_values(by='people_in', ascending=False)

,station_name_full,people_in,people_out,geo_latitude,geo_longitude
station_code,,,,,
222,강남,24426240.0,24021448.0,37.497175,127.027926
216,잠실(송파구청),20585020.0,20281017.0,37.513950,127.102234
230,신림,19321321.0,18777846.0,37.484201,126.929715
232,구로디지털단지,17582086.0,17609722.0,37.485266,126.901401
239,홍대입구,16594753.0,17288073.0,37.557192,126.925381
...,...,...,...,...,...
2828,남위례,41623.0,46621.0,37.463170,127.139526
321,충무로,0.0,0.0,37.561243,126.994280
2649,신내,0.0,0.0,37.612668,127.103213
2615,연신내,0.0,0.0,37.619001,126.921008
200,까치산,0.0,0.0,37.531768,126.846683

In [ ]:
HeatMap(data=people_in_out_by_station[['geo_latitude', 'geo_longitude', 'people_out']]).add_to(seoul_in)
# seoul_in

# 시간 데이터를 이용해서 출퇴근 시간대 정보 출력하기

In [35]:
total

,station_code,line_name,station_name_full,geo_latitude,geo_longitude,timestamp,people_in,people_out
0,158,1호선,청량리(서울시립대입구),37.580178,127.046835,2021-01-01T05:00:00.000+09:00,97.0,30.0
1,158,1호선,청량리(서울시립대입구),37.580178,127.046835,2021-01-01T06:00:00.000+09:00,101.0,109.0
2,158,1호선,청량리(서울시립대입구),37.580178,127.046835,2021-01-01T07:00:00.000+09:00,139.0,133.0
3,158,1호선,청량리(서울시립대입구),37.580178,127.046835,2021-01-01T08:00:00.000+09:00,202.0,182.0
4,158,1호선,청량리(서울시립대입구),37.580178,127.046835,2021-01-01T09:00:00.000+09:00,266.0,243.0
...,...,...,...,...,...,...,...,...
1941549,2827,8호선,모란,37.432130,127.129087,2021-12-31T19:00:00.000+09:00,206.0,176.0
1941550,2827,8호선,모란,37.432130,127.129087,2021-12-31T20:00:00.000+09:00,197.0,107.0
1941551,2827,8호선,모란,37.432130,127.129087,2021-12-31T21:00:00.000+09:00,209.0,154.0
1941552,2827,8호선,모란,37.432130,127.129087,2021-12-31T22:00:00.000+09:00,90.0,96.0
1941553,2827,8호선,모란,37.432130,127.129087,2021-12-31T23:00:00.000+09:00,24.0,52.0

In [36]:
from datetime import datetime

In [37]:
datetime.today()

datetime.datetime(2024, 9, 23, 9, 33, 31, 529384)

In [38]:
total['timestamp'] = pd.to_datetime(total['timestamp'])
total['timestamp'].dtype

datetime64[ns, UTC+09:00]

In [39]:
total['timestamp'].dt.hour

0           5.0
1           6.0
2           7.0
3           8.0
4           9.0
           ...
1941549    19.0
1941550    20.0
1941551    21.0
1941552    22.0
1941553    23.0
Name: timestamp, Length: 1941554, dtype: float64

In [40]:
moning_data = total[total['timestamp'].dt.hour < 9]
moning_data.head(2)

,station_code,line_name,station_name_full,geo_latitude,geo_longitude,timestamp,people_in,people_out
0,158,1호선,청량리(서울시립대입구),37.580178,127.046835,2021-01-01 05:00:00+09:00,97.0,30.0
1,158,1호선,청량리(서울시립대입구),37.580178,127.046835,2021-01-01 06:00:00+09:00,101.0,109.0

In [41]:
evening_data = total[total['timestamp'].dt.hour >= 18]
evening_data.head(2)

,station_code,line_name,station_name_full,geo_latitude,geo_longitude,timestamp,people_in,people_out
13,158,1호선,청량리(서울시립대입구),37.580178,127.046835,2021-01-01 18:00:00+09:00,337.0,356.0
14,158,1호선,청량리(서울시립대입구),37.580178,127.046835,2021-01-01 19:00:00+09:00,228.0,232.0

In [42]:
moning_data_sum = moning_data.groupby('station_code')[['people_in', 'people_out']].sum()
moning_data_sum.head(2)

              people_in  people_out
station_code
150           1280861.0   3455240.0
151            215072.0   2744871.0

In [43]:
moning_data_sum = moning_data_sum.join(station_info[['geo_latitude', 'geo_longitude']])
moning_data_sum.head(2)

              people_in  people_out  geo_latitude  geo_longitude
station_code
150           1280861.0   3455240.0     37.554648     126.972559
151            215072.0   2744871.0     37.564718     126.977108

In [44]:
evening_data_sum = evening_data.groupby('station_code')[['people_in', 'people_out']].sum()
evening_data_sum.head(2)

              people_in  people_out
station_code
150           4945020.0   2317244.0
151           3203211.0    425727.0

In [45]:
evening_data_sum = evening_data_sum.join(station_info[['geo_latitude', 'geo_longitude']])
evening_data_sum.head(2)

              people_in  people_out  geo_latitude  geo_longitude
station_code
150           4945020.0   2317244.0     37.554648     126.972559
151           3203211.0    425727.0     37.564718     126.977108

In [ ]:
HeatMap(data=moning_data_sum[['geo_latitude', 'geo_longitude', 'people_in']]).add_to(seoul_in)
# seoul_in

In [ ]:
HeatMap(data=moning_data_sum[['geo_latitude', 'geo_longitude', 'people_out']]).add_to(seoul_in)
# seoul_in

In [ ]:
HeatMap(data=evening_data_sum[['geo_latitude', 'geo_longitude', 'people_in']]).add_to(seoul_in)
# seoul_in

In [ ]:
HeatMap(data=evening_data_sum[['geo_latitude', 'geo_longitude', 'people_out']]).add_to(seoul_in)
# seoul_in

In [50]:
total.columns

Index(['station_code', 'line_name', 'station_name_full', 'geo_latitude',
       'geo_longitude', 'timestamp', 'people_in', 'people_out'],
      dtype='object')

In [51]:
total

,station_code,line_name,station_name_full,geo_latitude,geo_longitude,timestamp,people_in,people_out
0,158,1호선,청량리(서울시립대입구),37.580178,127.046835,2021-01-01 05:00:00+09:00,97.0,30.0
1,158,1호선,청량리(서울시립대입구),37.580178,127.046835,2021-01-01 06:00:00+09:00,101.0,109.0
2,158,1호선,청량리(서울시립대입구),37.580178,127.046835,2021-01-01 07:00:00+09:00,139.0,133.0
3,158,1호선,청량리(서울시립대입구),37.580178,127.046835,2021-01-01 08:00:00+09:00,202.0,182.0
4,158,1호선,청량리(서울시립대입구),37.580178,127.046835,2021-01-01 09:00:00+09:00,266.0,243.0
...,...,...,...,...,...,...,...,...
1941549,2827,8호선,모란,37.432130,127.129087,2021-12-31 19:00:00+09:00,206.0,176.0
1941550,2827,8호선,모란,37.432130,127.129087,2021-12-31 20:00:00+09:00,197.0,107.0
1941551,2827,8호선,모란,37.432130,127.129087,2021-12-31 21:00:00+09:00,209.0,154.0
1941552,2827,8호선,모란,37.432130,127.129087,2021-12-31 22:00:00+09:00,90.0,96.0
1941553,2827,8호선,모란,37.432130,127.129087,2021-12-31 23:00:00+09:00,24.0,52.0

In [52]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()
scaled = mms.fit_transform(total[['people_in', 'people_out']])
scaled = pd.DataFrame(scaled, columns=['people_in', 'people_out'] )
scaled

         people_in  people_out
0         0.006244    0.001559
1         0.006501    0.005666
2         0.008947    0.006914
3         0.013002    0.009461
4         0.017122    0.012632
...            ...         ...
1941549   0.013260    0.009149
1941550   0.012680    0.005562
1941551   0.013453    0.008005
1941552   0.005793    0.004990
1941553   0.001545    0.002703

[1941554 rows x 2 columns]

In [53]:
total['people_in'] = scaled['people_in']
total['people_out'] = scaled['people_out']

In [54]:
total

,station_code,line_name,station_name_full,geo_latitude,geo_longitude,timestamp,people_in,people_out
0,158,1호선,청량리(서울시립대입구),37.580178,127.046835,2021-01-01 05:00:00+09:00,0.006244,0.001559
1,158,1호선,청량리(서울시립대입구),37.580178,127.046835,2021-01-01 06:00:00+09:00,0.006501,0.005666
2,158,1호선,청량리(서울시립대입구),37.580178,127.046835,2021-01-01 07:00:00+09:00,0.008947,0.006914
3,158,1호선,청량리(서울시립대입구),37.580178,127.046835,2021-01-01 08:00:00+09:00,0.013002,0.009461
4,158,1호선,청량리(서울시립대입구),37.580178,127.046835,2021-01-01 09:00:00+09:00,0.017122,0.012632
...,...,...,...,...,...,...,...,...
1941549,2827,8호선,모란,37.432130,127.129087,2021-12-31 19:00:00+09:00,0.013260,0.009149
1941550,2827,8호선,모란,37.432130,127.129087,2021-12-31 20:00:00+09:00,0.012680,0.005562
1941551,2827,8호선,모란,37.432130,127.129087,2021-12-31 21:00:00+09:00,0.013453,0.008005
1941552,2827,8호선,모란,37.432130,127.129087,2021-12-31 22:00:00+09:00,0.005793,0.004990
1941553,2827,8호선,모란,37.432130,127.129087,2021-12-31 23:00:00+09:00,0.001545,0.002703

In [236]:
from folium.plugins import HeatMapWithTime

In [237]:
heat_data = []
for timestamp, group in total.groupby('timestamp'):
    heat_map_data = []
    for _ , row in group.iterrows():
        heat_map_data.append([row['geo_latitude'], row['geo_longitude'], row['people_in']])
    heat_data.append(heat_map_data)

In [238]:
heat_data[:3]

[[[37.580178, 127.046835, 0.0062435633367662205],
  [37.578103, 127.034893, 0.005149330587023687],
  [37.575297, 127.025087, 0.005084963954685891],
  [37.572627, 127.016429, 0.0013516992790937178],
  [37.57142, 127.009745, 0.004183831101956746],
  [37.570926, 127.001849, 0.001609165808444902],
  [37.571607, 126.991806, 0.003089598352214212],
  [37.570161, 126.982923, 0.003153964984552008],
  [37.564718, 126.977108, 0.0027677651905252316],
  [37.554648, 126.972559, 0.005535530381050463],
  [37.564718, 126.977108, 0.0014160659114315138],
  [37.566014, 126.982618, 0.0027677651905252316],
  [37.566295, 126.99191, 0.0013516992790937178],
  [37.566941, 126.998079, 0.000772399588053553],
  [37.565138, 127.007896, 0.003025231719876416],
  [37.565972, 127.01782, 0.003990731204943357],
  [37.564354, 127.029354, 0.003668898043254377],
  [37.561533, 127.037732, 0.005471163748712667],
  [37.555273, 127.043655, 0.0010942327497425334],
  [37.547184, 127.047367, 0.004119464469618949],
  [37.544581, 127.055961, 0.004248197734294541],
  [37.540693, 127.07023, 0.010298661174047374],
  [37.537077, 127.085916, 0.008303295571575695],
  [37.535095, 127.094681, 0.006179196704428424],
  [37.520733, 127.10379, 0.003089598352214212],
  [37.51395, 127.102234, 0.007981462409886715],
  [37.511687, 127.086162, 0.0025746652935118436],
  [37.510997, 127.073642, 0.0012873326467559218],
  [37.508844, 127.06316, 0.006050463439752832],
  [37.504503, 127.049008, 0.00476313079299691],
  [37.500622, 127.036456, 0.004505664263645726],
  [37.497175, 127.027926, 0.009268795056642637],
  [37.493415, 127.01408, 0.0027677651905252316],
  [37.491897, 127.007917, 0.001609165808444902],
  [37.481426, 126.997596, 0.002381565396498455],
  [37.47653, 126.981685, 0.012615859938208032],
  [37.47693, 126.963693, 0.007209062821833161],
  [37.481247, 126.952739, 0.018473223480947477],
  [37.482362, 126.941892, 0.011585993820803294],
  [37.484201, 126.929715, 0.02239958805355304],
  [37.487462, 126.913149, 0.014096292481977343],
  [37.485266, 126.901401, 0.019824922760041195],
  [37.49297, 126.895801, 0.011907826982492275],
  [37.508725, 126.891295, 0.02220648815653965],
  [37.517933, 126.89476, 0.0035401647785787845],
  [37.52497, 126.895951, 0.00296086508753862],
  [37.53438, 126.902281, 0.004312564366632338],
  [37.549463, 126.913739, 0.006436663233779608],
  [37.557192, 126.925381, 0.008689495365602472],
  [37.555134, 126.936893, 0.0062435633367662205],
  [37.556733, 126.946013, 0.0020597322348094747],
  [37.557345, 126.956141, 0.0027033985581874356],
  [37.559973, 126.963672, 0.0027033985581874356],
  [37.561904, 127.050899, 0.0020597322348094747],
  [37.57004, 127.046481, 0.0006436663233779609],
  [37.574028, 127.038091, 0.000772399588053553],
  [37.575297, 127.025087, 0.0011585993820803296],
  [37.514287, 126.882768, 0.00045056642636457256],
  [37.512398, 126.865819, 0.003218331616889804],
  [37.520074, 126.852912, 0.004312564366632338],
  [37.648048, 126.913951, 0.0007080329557157569],
  [37.636763, 126.918821, 0.00592173017507724],
  [37.619001, 126.921008, 0.019116889804325438],
  [37.610469, 126.929887, 0.006694129763130793],
  [37.600927, 126.935756, 0.006114830072090628],
  [37.589066, 126.943736, 0.00559989701338826],
  [37.582299, 126.950291, 0.0012873326467559218],
  [37.574571, 126.957748, 0.003926364572605561],
  [37.575762, 126.97353, 0.0019309989701338825],
  [37.576477, 126.985443, 0.000772399588053553],
  [37.571607, 126.991806, 0.0005792996910401648],
  [37.566295, 126.99191, 0.0005792996910401648],
  [37.559052, 127.005602, 0.002317198764160659],
  [37.55434, 127.010655, 0.005084963954685891],
  [37.548034, 127.015872, 0.00296086508753862],
  [37.540685, 127.017965, 0.0021240988671472707],
  [37.527072, 127.028461, 0.003668898043254377],
  [37.516334, 127.020114, 0.003089598352214212],
  [37.512759, 127.01122, 0.0009011328527291451],
  [37.50481, 127.004943, 0.004827497425334707],
  [37.493415, 127.01408, 0.0019309989701338825],
  [37.485013, 127.016189, 0.00296086508753862],
  [37.484147, 127.034631, 0.00592173017507724],
  [37.486947, 127.046769, 0.0016735324407826982],
  [37.490858, 127.055381, 0.0017378990731204942],
  [37.494612, 127.063642, 0.003218331616889804],
  [37.496663, 127.070594, 0.00032183316168898045],
  [37.493514, 127.079532, 0.003218331616889804],
  [37.483681, 127.08439, 0.0018666323377960865],
  [37.487371, 127.10188, 0.003218331616889804],
  [37.492522, 127.118234, 0.0021884654994850667],
  [37.495918, 127.12454, 0.002510298661174047],
  [37.502162, 127.128111, 0.00296086508753862],
  [37.670272, 127.079066, 0.006050463439752832],
  [37.660878, 127.073572, 0.010105561277033985],
  [37.655128, 127.061368, 0.008432028836251286],
  [37.653166, 127.047731, 0.014418125643666322],
  [37.648627, 127.034709, 0.014225025746652934],
  [37.638052, 127.025732, 0.014546858908341915],
  [37.62667, 127.025983, 0.006887229660144181],
  [37.613292, 127.030053, 0.009011328527291453],
  [37.603407, 127.025053, 0.0072734294541709574],
  [37.592624, 127.016403, 0.0034114315139031925],
  [37.588458, 127.006221, 0.005084963954685891],
  [37.582336, 127.001844, 0.0028321318228630276],
  [37.57142, 127.009745, 0.0012873326467559218],
  [37.565138, 127.007896, 0.0010942327497425334],
  [37.561243, 126.99428, 0.0033470648815653965],
  [37.560989, 126.986325, 0.0009654994850669412],
  [37.558514, 126.978246, 0.0014160659114315138],
  [37.554648, 126.972559, 0.003089598352214212],
  [37.54456, 126.972106, 0.0028321318228630276],
  [37.534777, 126.97311, 0.0005792996910401648],
  [37.52917, 126.967894, 0.0010298661174047373],
  [37.522272, 126.974345, 0.0010298661174047373],
  [37.502971, 126.979306, 0.00025746652935118434],
  [37.486263, 126.981989, 0.005342430484037075],
  [37.47653, 126.981685, 0.0066297631307929965],
  [37.463873, 126.989134, 0.0003861997940267765],
  [37.577446, 126.812741, 0.0036045314109165805],
  [37.572399, 126.806171, 0.0036045314109165805],
  [37.562434, 126.801058, 0.00019309989701338825],
  [37.561184, 126.811973, 0.0028964984552008236],
  [37.560183, 126.825448, 0.0013516992790937178],
  [37.558598, 126.837668, 0.002317198764160659],
  [37.548768, 126.836318, 0.004183831101956746],
  [37.541513, 126.840461, 0.013581359423274974],
  [37.531768, 126.846683, 0.016413491246138],
  [37.524997, 126.856191, 0.0067584963954685886],
  [37.526065, 126.864931, 0.005084963954685891],
  [37.524496, 126.875181, 0.003153964984552008],
  [37.525648, 126.885778, 0.0014160659114315138],
  [37.52497, 126.895951, 0.0012873326467559218],
  [37.522669, 126.905139, 0.00148043254376931],
  [37.517122, 126.917169, 0.0012229660144181256],
  [37.521624, 126.924191, 0.001544799176107106],
  [37.527098, 126.932901, 0.001609165808444902],
  [37.539574, 126.945932, 0.002381565396498455],
  [37.544018, 126.951592, 0.0014160659114315138],
  [37.553736, 126.95682, 0.001544799176107106],
  [37.559973, 126.963672, 0.0007080329557157569],
  [37.565773, 126.966641, 0.0012229660144181256],
  [37.571026, 126.976669, 0.0012873326467559218],
  [37.571607, 126.991806, 0.0012229660144181256],
  [37.566941, 126.998079, 0.00025746652935118434],
  [37.565138, 127.007896, 0.00019309989701338825],
  [37.560245, 127.013828, 0.0012873326467559218],
  [37.554548, 127.020331, 0.0019953656024716787],
  [37.557322, 127.029476, 0.003025231719876416],
  [37.561533, 127.037732, 0.0010298661174047373],
  [37.5661, 127.042973, 0.0020597322348094747],
  [37.566747, 127.052704, 0.0062435633367662205],
  [37.56144, 127.064623, 0.00444129763130793],
  [37.557121, 127.079542, 0.005471163748712667],
  [37.551691, 127.089761, 0.006887229660144181],
  [37.545303, 127.10357, 0.0035401647785787845],
  [37.538397, 127.123572, 0.004827497425334707],
  [37.535804, 127.132481, 0.008303295571575695],
  [37.537801, 127.140004, 0.003218331616889804],
  [37.545477, 127.142853, 0.005149330587023687],
  [37.55137, 127.143999, 0.0028321318228630276],
  [37.555004, 127.154151, 0.0021884654994850667],
  [37.556712, 127.166417, 0.006050463439752832],
  [37.563118, 127.192932, 0.004248197734294541],
  [37.552059, 127.20388, 0.0013516992790937178],
  [37.527788, 127.136248, 0.003153964984552008],
  [37.516078, 127.130848, 0.000772399588053553],
  [37.508857, 127.126133, 0.0020597322348094747],
  [37.502162, 127.128111, 0.0008367662203913491],
  [37.498079, 127.13482, 0.0032826982492276005],
  [37.493105, 127.14415, 0.0033470648815653965],
  [37.49499, 127.152781, 0.003668898043254377],
  [37.598605, 126.915577, 0.0071446961894953654],
  [37.606021, 126.922744, 0.0010298661174047373],
  [37.610469, 126.929887, 0.0012873326467559218],
  [37.618456, 126.933031, 0.0012873326467559218],
  [37.611377, 126.91727, 0.003797631307929969],
  [37.591148, 126.913629, 0.006114830072090628],
  [37.583876, 126.909645, 0.005342430484037075],
  [37.576646, 126.900984, 0.004312564366632338],
  [37.569532, 126.899298, 0.0010298661174047373],
  [37.563515, 126.903343, 0.005728630278063852],
  [37.556094, 126.910052, 0.0033470648815653965],
  [37.549463, 126.913739, 0.0021884654994850667],
  [37.547716, 126.922852, 0.0010298661174047373],
  [37.547456, 126.931993, 0.002381565396498455],
  [37.547771, 126.942069, 0.0021240988671472707],
  [37.544018, 126.951592, 0.003089598352214212],
  [37.539261, 126.961351, 0.0034114315139031925],
  [37.534777, 126.97311, 0.0012229660144181256],
  [37.534675, 126.986695, 0.0011585993820803296],
  [37.534488, 126.994302, 0.0032826982492276005],
  [37.539631, 127.001725, 0.0007080329557157569],
  [37.548013, 127.007055, 0.0009654994850669412],
  [37.55434, 127.010655, 0.0009011328527291451],
  [37.560245, 127.013828, 0.0007080329557157569],
  [37.565972, 127.01782, 0.0019309989701338825],
  [37.572627, 127.016429, 0.0011585993820803296],
  [37.579661, 127.015241, 0.0018022657054582903],
  [37.585286, 127.019381, 0.0027677651905252316],
  [37.586272, 127.029005, 0.002252832131822863],
  [37.590508, 127.036296, 0.003218331616889804],
  [37.601948, 127.041518, 0.004312564366632338],
  [37.606377, 127.048491, 0.0028321318228630276],
  [37.610537, 127.056431, 0.004505664263645726],
  [37.614805, 127.065851, 0.005728630278063852],
  [37.617983, 127.07512, 0.0026390319258496396],
  [37.620064, 127.084689, 0.0035401647785787845],
  [37.617283, 127.091401, 0.00296086508753862],
  [37.700109, 127.053196, 0.000772399588053553],
  [37.689313, 127.046222, 0.003025231719876416],
  [37.67785, 127.055315, 0.006307929969104016],
  [37.66494, 127.057675, 0.007337796086508754],
  [37.655128, 127.061368, 0.006114830072090628],
  [37.644583, 127.064303, 0.0062435633367662205],
  [37.636352, 127.06799, 0.006436663233779608],
  [37.625742, 127.072896, 0.005535530381050463],
  [37.617983, 127.07512, 0.00559989701338826],
  [37.610637, 127.077725, 0.00592173017507724],
  [37.602545, 127.079264, 0.006887229660144181],
  [37.596362, 127.085032, 0.009397528321318228],
  [37.588579, 127.087503, 0.008110195674562306],
  [37.580894, 127.088478, 0.008367662203913492],
  [37.573647, 127.086727, 0.003668898043254377],
  [37.565923, 127.08432, 0.004956230690010299],
  [37.557121, 127.079542, 0.006565396498455201],
  [37.548014, 127.074658, 0.0034114315139031925],
  [37.540693, 127.07023, 0.0035401647785787845],
  [37.53154, 127.066704, 0.003153964984552008],
  [37.519365, 127.05335, 0.0021884654994850667],
  [37.517186, 127.04128, 0.0013516992790937178],
  [37.514229, 127.031656, 0.0026390319258496396],
  [37.511093, 127.021415, 0.0017378990731204942],
  [37.508178, 127.011727, 0.0009011328527291451],
  [37.50481, 127.004943, 0.0016735324407826982],
  [37.487618, 126.993513, 0.0020597322348094747],
  [37.486263, 126.981989, 0.004505664263645726],
  [37.484596, 126.971251, 0.00559989701338826],
  [37.496029, 126.953822, 0.003990731204943357],
  [37.502834, 126.94791, 0.004634397528321318],
  [37.504898, 126.93915, 0.004505664263645726],
  [37.499701, 126.928276, 0.0072734294541709574],
  [37.499872, 126.920428, 0.0034114315139031925],
  [37.50008, 126.90993, 0.005020597322348094],
  [37.49297, 126.895801, 0.003668898043254377],
  [37.486056, 126.887249, 0.0063722966014418125],
  [37.481072, 126.882343, 0.007659629248197734],
  [37.47605, 126.867911, 0.006565396498455201],
  [37.479252, 126.854876, 0.013388259526261586],
  [37.486637, 126.838713, 0.004891864057672502],
  [37.492258, 126.823388, 0.004505664263645726],
  [37.506207, 126.810939, 0.0021884654994850667],
  [37.50538, 126.797337, 0.0018666323377960865],
  [37.503663, 126.787036, 0.0033470648815653965],
  [37.503048, 126.77596, 0.0036045314109165805],
  [37.504631, 126.763538, 0.004183831101956746],
  [37.505781, 126.753083, 0.0028964984552008236],
  [37.506411, 126.742153, 0.0017378990731204942],
  [37.506997, 126.73128, 0.0034114315139031925],
  [37.508336, 126.720548, 0.0036045314109165805],
  [37.55021, 127.127562, 0.010491761071060762],
  [37.538397, 127.123572, 0.007337796086508754],
  [37.530341, 127.120508, 0.004312564366632338],
  [37.517409, 127.112359, 0.001609165808444902],
  [37.51395, 127.102234, 0.0017378990731204942],
  [37.505431, 127.106979, 0.002510298661174047],
  [37.499703, 127.112183, 0.0018666323377960865],
  [37.492522, 127.118234, 0.0010942327497425334],
  [37.485855, 127.1225, 0.0019309989701338825],
  [37.478703, 127.126191, 0.006436663233779608],
  [37.470047, 127.126662, 0.004312564366632338],
  [37.457122, 127.149908, 0.0034757981462409885],
  [37.451535, 127.159816, 0.005664263645726055],
  [37.44521, 127.156866, 0.005471163748712667],
  [37.440918, 127.147564, 0.002252832131822863],
  [37.437428, 127.140722, 0.0026390319258496396],
  [37.43213, 127.129087, 0.001609165808444902]],
 [[37.580178, 127.046835, 0.0065010298661174045],
  [37.578103, 127.034893, 0.005278063851699279],
  [37.575297, 127.025087, 0.005664263645726055],
  [37.572627, 127.016429, 0.002252832131822863],
  [37.57142, 127.009745, 0.004376930998970133],
  [37.570926, 127.001849, 0.002510298661174047],
  [37.571607, 126.991806, 0.004119464469618949],
  [37.570161, 126.982923, 0.003797631307929969],
  [37.564718, 126.977108, 0.0028964984552008236],
  [37.554648, 126.972559, 0.0071446961894953654],
  [37.564718, 126.977108, 0.001609165808444902],
  [37.566014, 126.982618, 0.0034114315139031925],
  [37.566295, 126.99191, 0.0017378990731204942],
  [37.566941, 126.998079, 0.002317198764160659],
  [37.565138, 127.007896, 0.003153964984552008],
  [37.565972, 127.01782, 0.004827497425334707],
  [37.564354, 127.029354, 0.0062435633367662205],
  [37.561533, 127.037732, 0.005342430484037075],
  [37.555273, 127.043655, 0.00148043254376931],
  [37.547184, 127.047367, 0.005406797116374871],
  [37.544581, 127.055961, 0.0075308959835221415],
  [37.540693, 127.07023, 0.010620494335736353],
  [37.537077, 127.085916, 0.01216529351184346],
  [37.535095, 127.094681, 0.009654994850669413],
  [37.520733, 127.10379, 0.0028964984552008236],
  [37.51395, 127.102234, 0.01596292481977343],
  [37.511687, 127.086162, 0.005857363542739444],
  [37.510997, 127.073642, 0.003218331616889804],
  [37.508844, 127.06316, 0.008045829042224511],
  [37.504503, 127.049008, 0.011135427394438723],
  [37.500622, 127.036456, 0.009976828012358394],
  [37.497175, 127.027926, 0.014546858908341915],
  [37.493415, 127.01408, 0.01068486096807415],
  [37.491897, 127.007917, 0.005406797116374871],
  [37.481426, 126.997596, 0.006436663233779608],
  [37.47653, 126.981685, 0.014675592173017508],
  [37.47693, 126.963693, 0.013516992790937177],
  [37.481247, 126.952739, 0.023043254376931],
  [37.482362, 126.941892, 0.012873326467559216],
  [37.484201, 126.929715, 0.04216014418125644],
  [37.487462, 126.913149, 0.018537590113285273],
  [37.485266, 126.901401, 0.024781153450051493],
  [37.49297, 126.895801, 0.016091658084449022],
  [37.508725, 126.891295, 0.016992790937178166],
  [37.517933, 126.89476, 0.005213697219361483],
  [37.52497, 126.895951, 0.0074021627188465495],
  [37.53438, 126.902281, 0.005857363542739444],
  [37.549463, 126.913739, 0.007659629248197734],
  [37.557192, 126.925381, 0.011972193614830071],
  [37.555134, 126.936893, 0.00888259526261586],
  [37.556733, 126.946013, 0.004956230690010299],
  [37.557345, 126.956141, 0.005535530381050463],
  [37.559973, 126.963672, 0.004183831101956746],
  [37.561904, 127.050899, 0.0019309989701338825],
  [37.57004, 127.046481, 0.0007080329557157569],
  [37.574028, 127.038091, 0.0006436663233779609],
  [37.575297, 127.025087, 0.0014160659114315138],
  [37.514287, 126.882768, 0.0009011328527291451],
  [37.512398, 126.865819, 0.004055097837281153],
  [37.520074, 126.852912, 0.005986096807415036],
  [37.648048, 126.913951, 0.001609165808444902],
  [37.636763, 126.918821, 0.008753861997940267],
  [37.619001, 126.921008, 0.023043254376931],
  [37.610469, 126.929887, 0.008045829042224511],
  [37.600927, 126.935756, 0.008110195674562306],
  [37.589066, 126.943736, 0.010169927909371781],
  [37.582299, 126.950291, 0.0018022657054582903],
  [37.574571, 126.957748, 0.0027033985581874356],
  [37.575762, 126.97353, 0.004119464469618949],
  [37.576477, 126.985443, 0.0028321318228630276],
  [37.571607, 126.991806, 0.0014160659114315138],
  [37.566295, 126.99191, 0.0012229660144181256],
  [37.559052, 127.005602, 0.0021240988671472707],
  [37.55434, 127.010655, 0.00592173017507724],
  [37.548034, 127.015872, 0.00476313079299691],
  [37.540685, 127.017965, 0.004376930998970133],
  [37.527072, 127.028461, 0.006179196704428424],
  [37.516334, 127.020114, 0.006436663233779608],
  [37.512759, 127.01122, 0.002317198764160659],
  [37.50481, 127.004943, 0.004570030895983522],
  [37.493415, 127.01408, 0.00296086508753862],
  [37.485013, 127.016189, 0.006694129763130793],
  [37.484147, 127.034631, 0.010169927909371781],
  [37.486947, 127.046769, 0.005084963954685891],
  [37.490858, 127.055381, 0.002252832131822863],
  [37.494612, 127.063642, 0.007788362512873326],
  [37.496663, 127.070594, 0.0012229660144181256],
  [37.493514, 127.079532, 0.005342430484037075],
  [37.483681, 127.08439, 0.003153964984552008],
  [37.487371, 127.10188, 0.0066297631307929965],
  [37.492522, 127.118234, 0.002510298661174047],
  [37.495918, 127.12454, 0.0034757981462409885],
  [37.502162, 127.128111, 0.0028964984552008236],
  [37.670272, 127.079066, 0.0072734294541709574],
  [37.660878, 127.073572, 0.013066426364572606],
  [37.655128, 127.061368, 0.010620494335736353],
  [37.653166, 127.047731, 0.012873326467559216],
  [37.648627, 127.034709, 0.021112255406797117],
  [37.638052, 127.025732, 0.02445932028836251],
  [37.62667, 127.025983, 0.01068486096807415],
  [37.613292, 127.030053, 0.01776519052523172],
  [37.603407, 127.025053, 0.009590628218331617],
  [37.592624, 127.016403, 0.009912461380020597],
  [37.588458, 127.006221, 0.006307929969104016],
  [37.582336, 127.001844, 0.0072734294541709574],
  [37.57142, 127.009745, 0.001544799176107106],
  [37.565138, 127.007896, 0.003153964984552008],
  [37.561243, 126.99428, 0.00444129763130793],
  [37.560989, 126.986325, 0.0028964984552008236],
  [37.558514, 126.978246, 0.003025231719876416],
  [37.554648, 126.972559, 0.003668898043254377],
  [37.54456, 126.972106, 0.004248197734294541],
  [37.534777, 126.97311, 0.0011585993820803296],
  [37.52917, 126.967894, 0.0019953656024716787],
  [37.522272, 126.974345, 0.002510298661174047],
  [37.502971, 126.979306, 0.0010298661174047373],
  [37.486263, 126.981989, 0.00856076210092688],
  [37.47653, 126.981685, 0.010813594232749742],
  [37.463873, 126.989134, 0.00019309989701338825],
  [37.577446, 126.812741, 0.005471163748712667],
  [37.572399, 126.806171, 0.003733264675592173],
  [37.562434, 126.801058, 0.0009011328527291451],
  [37.561184, 126.811973, 0.005406797116374871],
  [37.560183, 126.825448, 0.003733264675592173],
  [37.558598, 126.837668, 0.005342430484037075],
  [37.548768, 126.836318, 0.0063722966014418125],
  [37.541513, 126.840461, 0.01873069001029866],
  [37.531768, 126.846683, 0.020983522142121524],
  [37.524997, 126.856191, 0.009397528321318228],
  [37.526065, 126.864931, 0.009397528321318228],

In [134]:
from folium.plugins import HeatMapWithTime

In [55]:
# timestamp를 시간대별로 그룹핑하여 HeatMapWithTime에 맞는 데이터 준비
heat_data = []
time_index = []  # 시간 인덱스를 기록할 리스트
for timestamp, group in total.groupby('timestamp'):
    heat_map_data = [
        [row['geo_latitude'], row['geo_longitude'], row['people_in']]
        for _, row in group.iterrows()
    ]
    heat_data.append(heat_map_data)
    time_index.append(timestamp)  # 각 시간대를 기록

# folium 지도 생성 (초기 중심 좌표 설정)
m = folium.Map(location=[37.5665, 126.9780], zoom_start=12)

# HeatMapWithTime 추가
HeatMapWithTime(heat_data, radius=15).add_to(m)

# 지도 저장
# m.save("heatmap_with_time.html")

# 출력할 필요가 있을 경우 지도 반환 (주피터 노트북 등에서)
# m

KeyboardInterrupt: