In [1]:
import requests
import os
from dotenv import load_dotenv
import pandas as pd
load_dotenv()

True

In [2]:
import os

# 모든 환경 변수 출력
for key, value in os.environ.items():
    print(f'{key}: {value}')

ALLUSERSPROFILE: C:\ProgramData
APPDATA: C:\Users\5-29\AppData\Roaming
COMMONPROGRAMFILES: C:\Program Files\Common Files
COMMONPROGRAMFILES(X86): C:\Program Files (x86)\Common Files
COMMONPROGRAMW6432: C:\Program Files\Common Files
COMPUTERNAME: 5-29
COMSPEC: C:\WINDOWS\system32\cmd.exe
CONDA_BAT: C:\Users\5-29\miniforge3\condabin\conda.bat
CONDA_DEFAULT_ENV: fintech
CONDA_EXE: C:\Users\5-29\miniforge3\Scripts\conda.exe
CONDA_PREFIX: C:\Users\5-29\miniforge3\envs\fintech
CONDA_PROMPT_MODIFIER: (fintech)
CONDA_PYTHON_EXE: C:\Users\5-29\miniforge3\python.exe
CONDA_SHLVL: 1
DRIVERDATA: C:\Windows\System32\Drivers\DriverData
HOMEDRIVE: C:
HOMEPATH: \Users\5-29
LOCALAPPDATA: C:\Users\5-29\AppData\Local
LOGONSERVER: \\5-29
NUMBER_OF_PROCESSORS: 8
ONEDRIVE: C:\Users\5-29\OneDrive
ONEDRIVECONSUMER: C:\Users\5-29\OneDrive
OS: Windows_NT
PATH: C:\Users\5-29\miniforge3\envs\fintech;C:\Users\5-29\miniforge3\envs\fintech\Library\mingw-w64\bin;C:\Users\5-29\miniforge3\envs\fintech\Library\usr\bin;C:\Users\5-29\miniforge3\envs\fintech\Library\bin;C:\Users\5-29\miniforge3\envs\fintech\Scripts;C:\Users\5-29\miniforge3\envs\fintech\bin;C:\Users\5-29\miniforge3\condabin;C:\WINDOWS\system32;C:\WINDOWS;C:\WINDOWS\System32\Wbem;C:\WINDOWS\System32\WindowsPowerShell\v1.0;C:\WINDOWS\System32\OpenSSH;C:\Program Files (x86)\Windows Kits\10\Windows Performance Toolkit;C:\Program Files\Git\cmd;C:\Program Files\MySQL\MySQL Shell 8.0\bin;C:\Users\5-29\AppData\Local\Microsoft\WindowsApps;C:\Users\5-29\AppData\Local\Programs\Microsoft VS Code\bin
PATHEXT: .COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC
PROCESSOR_ARCHITECTURE: AMD64
PROCESSOR_IDENTIFIER: AMD64 Family 23 Model 24 Stepping 1, AuthenticAMD
PROCESSOR_LEVEL: 23
PROCESSOR_REVISION: 1801
PROGRAMDATA: C:\ProgramData
PROGRAMFILES: C:\Program Files
PROGRAMFILES(X86): C:\Program Files (x86)
PROGRAMW6432: C:\Program Files
PROMPT: (fintech) $P$G
PSMODULEPATH: C:\Program Files\WindowsPowerShell\Modules;C:\WINDOWS\system32\WindowsPowerShell\v1.0\Modules
PUBLIC: C:\Users\Public
SESSIONNAME: Console
SSL_CERT_DIR: C:\Users\5-29\miniforge3\envs\fintech\Library\ssl\certs
SSL_CERT_FILE: C:\Users\5-29\miniforge3\envs\fintech\Library\ssl\cacert.pem
SYSTEMDRIVE: C:
SYSTEMROOT: C:\WINDOWS
TEMP: C:\Users\5-29\AppData\Local\Temp
TMP: C:\Users\5-29\AppData\Local\Temp
USERDOMAIN: 5-29
USERDOMAIN_ROAMINGPROFILE: 5-29
USERNAME: 5-29
USERPROFILE: C:\Users\5-29
WINDIR: C:\WINDOWS
XML_CATALOG_FILES: file:///C:/Users/5-29/miniforge3/envs/fintech/etc/xml/catalog
__CONDA_OPENSSL_CERT_DIR_SET: "1"
__CONDA_OPENSSL_CERT_FILE_SET: "1"
JPY_INTERRUPT_EVENT: 2924
IPY_INTERRUPT_EVENT: 2924
JPY_PARENT_PID: 2920
PYDEVD_USE_FRAME_EVAL: NO
TERM: xterm-color
CLICOLOR: 1
FORCE_COLOR: 1
CLICOLOR_FORCE: 1
PAGER: cat
GIT_PAGER: cat
MPLBACKEND: module://matplotlib_inline.backend_inline
CLIENT_ID: pRmtpgiw8Lf7F3QGZ4ar
CLIENT_SECRET: M_XHcT1MXF
SERVICEKEY: 8Ym5dhmVJdr12XzGnyYrQjSBS1QuRBYK8yHfx65JCl4vACM9uLKo8fxCVOFJkPB71llD7F2rOEROZnHgNGoj3A==

In [7]:
url = "http://apis.data.go.kr/B551408/rent-loan-rate-info/rate-list"
servicekey = os.getenv('servicekey')
payload = dict(serviceKey=servicekey, numOfRows=30, pageNo=1, dataType='JSON')
r = requests.get(url, params=payload)
print(r.url)
print(r.status_code)
data = r.json()
data

http://apis.data.go.kr/B551408/rent-loan-rate-info/rate-list?serviceKey=8Ym5dhmVJdr12XzGnyYrQjSBS1QuRBYK8yHfx65JCl4vACM9uLKo8fxCVOFJkPB71llD7F2rOEROZnHgNGoj3A%3D%3D&numOfRows=30&pageNo=1&dataType=JSON
200

{'header': {'resultCode': '00', 'resultMsg': '정상'},
 'body': {'pageNo': 1,
  'totalCount': 18,
  'numOfRows': 30,
  'items': [{'bssYmdStart': '20240715',
    'interest4_1': '0',
    'interest3_2': '0',
    'interest4_2': '0',
    'interest2_1': '0',
    'interest1_2': '0',
    'interest3_1': '0',
    'interest2_2': '0',
    'interest1_1': '0',
    'bssYmdEnd': '20240721',
    'organId': '산업은행',
    'callCenter': '1588-1500'},
   {'bssYmdStart': '20240715',
    'interest4_1': '0',
    'interest3_2': '0',
    'interest4_2': '0',
    'interest2_1': '0',
    'interest1_2': '0',
    'interest3_1': '0',
    'interest2_2': '0',
    'interest1_1': '0',
    'bssYmdEnd': '20240721',
    'organId': '제주은행',
    'callCenter': '1588-0079'},
   {'bssYmdStart': '20240715',
    'interest4_1': '0',
    'interest3_2': '0',
    'interest4_2': '0',
    'interest2_1': '0',
    'interest1_2': '0',
    'interest3_1': '0',
    'interest2_2': '0',
    'interest1_1': '0',
    'bssYmdEnd': '20240721',
    'organId': 'SC은행',
    'callCenter': '1588-1599'},
   {'bssYmdStart': '20240715',
    'interest4_1': '0',
    'interest3_2': '0',
    'interest4_2': '0',
    'interest2_1': '0',
    'interest1_2': '0',
    'interest3_1': '0',
    'interest2_2': '0',
    'interest1_1': '0',
    'bssYmdEnd': '20240721',
    'organId': '광주은행',
    'callCenter': '1600-4000'},
   {'bssYmdStart': '20240715',
    'interest4_1': '0',
    'interest3_2': '0',
    'interest4_2': '0',
    'interest2_1': '0',
    'interest1_2': '0',
    'interest3_1': '0',
    'interest2_2': '0',
    'interest1_1': '0',
    'bssYmdEnd': '20240721',
    'organId': '전북은행',
    'callCenter': '1588-4477'},
   {'bssYmdStart': '20240715',
    'interest4_1': '4.28',
    'interest3_2': '0',
    'interest4_2': '0',
    'interest2_1': '0',
    'interest1_2': '0',
    'interest3_1': '0',
    'interest2_2': '0',
    'interest1_1': '0',
    'bssYmdEnd': '20240721',
    'organId': '경남은행',
    'callCenter': '1588-8585'},
   {'bssYmdStart': '20240715',
    'interest4_1': '5.04',
    'interest3_2': '0',
    'interest4_2': '0',
    'interest2_1': '0',
    'interest1_2': '0',
    'interest3_1': '0',
    'interest2_2': '0',
    'interest1_1': '0',
    'bssYmdEnd': '20240721',
    'organId': '수협은행',
    'callCenter': '1588-1515'},
   {'bssYmdStart': '20240715',
    'interest4_1': '3.46',
    'interest3_2': '0',
    'interest4_2': '0',
    'interest2_1': '0',
    'interest1_2': '0',
    'interest3_1': '0',
    'interest2_2': '0',
    'interest1_1': '0',
    'bssYmdEnd': '20240721',
    'organId': '부산은행',
    'callCenter': '1588-6200'},
   {'bssYmdStart': '20240715',
    'interest4_1': '2.76',
    'interest3_2': '0',
    'interest4_2': '0',
    'interest2_1': '0',
    'interest1_2': '0',
    'interest3_1': '0',
    'interest2_2': '0',
    'interest1_1': '0',
    'bssYmdEnd': '20240721',
    'organId': '대구은행',
    'callCenter': '1588-5050'},
   {'bssYmdStart': '20240715',
    'interest4_1': '3.91',
    'interest3_2': '0',
    'interest4_2': '0',
    'interest2_1': '0',
    'interest1_2': '0',
    'interest3_1': '0',
    'interest2_2': '0',
    'interest1_1': '0',
    'bssYmdEnd': '20240721',
    'organId': '기업은행',
    'callCenter': '1566-2566'},
   {'bssYmdStart': '20240715',
    'interest4_1': '3.65',
    'interest3_2': '0',
    'interest4_2': '0',
    'interest2_1': '0',
    'interest1_2': '0',
    'interest3_1': '0',
    'interest2_2': '0',
    'interest1_1': '0',
    'bssYmdEnd': '20240721',
    'organId': '우리은행',
    'callCenter': '1599-5000'},
   {'bssYmdStart': '20240715',
    'interest4_1': '3.64',
    'interest3_2': '0',
    'interest4_2': '0',
    'interest2_1': '0',
    'interest1_2': '0',
    'interest3_1': '0',
    'interest2_2': '0',
    'interest1_1': '0',
    'bssYmdEnd': '20240721',
    'organId': '케이뱅크',
    'callCenter': '1522-1000'},
   {'bssYmdStart': '20240715',
    'interest4_1': '3.77',
    'interest3_2': '0',
    'interest4_2': '0',
    'interest2_1': '0',
    'interest1_2': '0',
    'interest3_1': '0',
    'interest2_2': '0',
    'interest1_1': '0',
    'bssYmdEnd': '20240721',
    'organId': '카카오뱅크',
    'callCenter': '1599-3333'},
   {'bssYmdStart': '20240715',
    'interest4_1': '3.71',
    'interest3_2': '0',
    'interest4_2': '0',
    'interest2_1': '0',
    'interest1_2': '0',
    'interest3_1': '0',
    'interest2_2': '0',
    'interest1_1': '0',
    'bssYmdEnd': '20240721',
    'organId': '토스뱅크',
    'callCenter': '1661-7654'},
   {'bssYmdStart': '20240715',
    'interest4_1': '3.84',
    'interest3_2': '0',
    'interest4_2': '0',
    'interest2_1': '0',
    'interest1_2': '0',
    'interest3_1': '0',
    'interest2_2': '0',
    'interest1_1': '0',
    'bssYmdEnd': '20240721',
    'organId': '신한은행',
    'callCenter': '1599-8000'},
   {'bssYmdStart': '20240715',
    'interest4_1': '3.81',
    'interest3_2': '0',
    'interest4_2': '0',
    'interest2_1': '0',
    'interest1_2': '0',
    'interest3_1': '0',
    'interest2_2': '0',
    'interest1_1': '0',
    'bssYmdEnd': '20240721',
    'organId': '하나은행',
    'callCenter': '1599-1111'},
   {'bssYmdStart': '20240715',
    'interest4_1': '3.89',
    'interest3_2': '0',
    'interest4_2': '0',
    'interest2_1': '0',
    'interest1_2': '0',
    'interest3_1': '0',
    'interest2_2': '0',
    'interest1_1': '0',
    'bssYmdEnd': '20240721',
    'organId': '농협은행',
    'callCenter': '1588-2100'},
   {'bssYmdStart': '20240715',
    'interest4_1': '3.85',
    'interest3_2': '0',
    'interest4_2': '0',
    'interest2_1': '0',
    'interest1_2': '0',
    'interest3_1': '0',
    'interest2_2': '0',
    'interest1_1': '0',
    'bssYmdEnd': '20240721',
    'organId': '국민은행',
    'callCenter': '1644-9999'}]}}

In [10]:
result = pd.json_normalize(data['body']['items'])
result

,bssYmdStart,interest4_1,interest3_2,interest4_2,interest2_1,interest1_2,interest3_1,interest2_2,interest1_1,bssYmdEnd,organId,callCenter
0,20240715,0,0,0,0,0,0,0,0,20240721,산업은행,1588-1500
1,20240715,0,0,0,0,0,0,0,0,20240721,제주은행,1588-0079
2,20240715,0,0,0,0,0,0,0,0,20240721,SC은행,1588-1599
3,20240715,0,0,0,0,0,0,0,0,20240721,광주은행,1600-4000
4,20240715,0,0,0,0,0,0,0,0,20240721,전북은행,1588-4477
5,20240715,4.28,0,0,0,0,0,0,0,20240721,경남은행,1588-8585
6,20240715,5.04,0,0,0,0,0,0,0,20240721,수협은행,1588-1515
7,20240715,3.46,0,0,0,0,0,0,0,20240721,부산은행,1588-6200
8,20240715,2.76,0,0,0,0,0,0,0,20240721,대구은행,1588-5050
9,20240715,3.91,0,0,0,0,0,0,0,20240721,기업은행,1566-2566
10,20240715,3.65,0,0,0,0,0,0,0,20240721,우리은행,1599-5000
11,20240715,3.64,0,0,0,0,0,0,0,20240721,케이뱅크,1522-1000
12,20240715,3.77,0,0,0,0,0,0,0,20240721,카카오뱅크,1599-3333
13,20240715,3.71,0,0,0,0,0,0,0,20240721,토스뱅크,1661-7654
14,20240715,3.84,0,0,0,0,0,0,0,20240721,신한은행,1599-8000
15,20240715,3.81,0,0,0,0,0,0,0,20240721,하나은행,1599-1111
16,20240715,3.89,0,0,0,0,0,0,0,20240721,농협은행,1588-2100
17,20240715,3.85,0,0,0,0,0,0,0,20240721,국민은행,1644-9999

In [33]:
cloth_bins = []
page = 1

while True:
    url = "https://api.odcloud.kr/api/15127131/v1/uddi:a9873b46-9551-407a-aff5-a3a77befb3d4"
    payload = dict(serviceKey=servicekey , page=page, perPage=100, returnType="JSON")
    r = requests.get(url, params=payload)
    print(r.status_code)
    data = r.json()
    cloth_bins.append(data['data'])
    total_pages = data['totalCount'] // data['perPage'] + 1
    print(f"{page}/{total_pages}", end="\r")
    if page < total_pages:
        page += 1
    else:
        break
        
result = pd.DataFrame()
for bins in cloth_bins:
    temp = pd.json_normalize(bins)
    result = pd.concat([result, temp])
result

200
200
200
200
200
200
200

,경도,도로명 주소,연번,위도,지번주소
0,127.0463745363,"서울특별시 강남구 테헤란로57길 38 (역삼동, 동우빌라)",1,37.5067486779,서울특별시 강남구 역삼1동 694-6
1,127.0443692184,서울특별시 강남구 테헤란로 53길 51 (역삼동),2,37.5068409001,서울특별시 강남구 역삼1동 698-14
2,127.0453479614,서울특별시 강남구 테헤란로 53길 37 (역삼동),3,37.5062405492,서울특별시 강남구 역삼1동 697-4
3,127.0450505713,서울특별시 강남구 테헤란로55길50 (역삼동),4,37.5070938247,서울특별시 강남구 역삼1동 695-20
4,127.0446350458,서울특별시 강남구봉은사로50길41 (역삼동),5,37.5078620891,서울특별시 강남구 역삼1동683-29
...,...,...,...,...,...
62,127.1055969259,서울특별시 강남구 밤고개로36길 26 (세곡동),663,37.4631755863,서울특별시 강남구 세곡동 175-11
63,127.1055006052,서울특별시 강남구 밤고개로34길 27 (세곡동),664,37.4636471716,서울특별시 강남구 세곡동 171-15
64,127.0986586996,서울특별시 강남구 자곡로7길 20-12 (세곡동),665,37.4744680911,서울특별시 강남구 세곡동 462-5
65,127.0979524799,서울특별시 강남구 자곡로7길 22-15 (세곡동),666,37.4747360082,서울특별시 강남구 세곡동 467-11
66,127.1084049081,서울특별시 강남구 밤고개로27길 7-2 (세곡동),667,37.4717013802,서울특별시 강남구 세곡동 471-11

In [30]:
print(len(cloth_bins))

7

In [32]:
len(cloth_bins[0])

100

In [18]:
result = result.reset_index(drop=True)
result

,경도,도로명 주소,연번,위도,지번주소
0,127.0463745363,"서울특별시 강남구 테헤란로57길 38 (역삼동, 동우빌라)",1,37.5067486779,서울특별시 강남구 역삼1동 694-6
1,127.0443692184,서울특별시 강남구 테헤란로 53길 51 (역삼동),2,37.5068409001,서울특별시 강남구 역삼1동 698-14
2,127.0453479614,서울특별시 강남구 테헤란로 53길 37 (역삼동),3,37.5062405492,서울특별시 강남구 역삼1동 697-4
3,127.0450505713,서울특별시 강남구 테헤란로55길50 (역삼동),4,37.5070938247,서울특별시 강남구 역삼1동 695-20
4,127.0446350458,서울특별시 강남구봉은사로50길41 (역삼동),5,37.5078620891,서울특별시 강남구 역삼1동683-29
...,...,...,...,...,...
695,127.0376706543,서울특별시 강남구 봉은사로34길 38,96,37.5059515916,서울특별시 강남구 역삼동 660-32
696,127.0387960245,서울특별시 강남구 언주로103길 15,97,37.5064646201,서울특별시 강남구 역삼동 661-21
697,127.0389430626,서울특별시 강남구 테헤란로 39길 77,98,37.5071349195,서울특별시 강남구 역삼동 656-20
698,127.0372068826,서울특별시 강남구 봉은사로34길 21,99,37.5069551880,서울특별시 강남구 역삼동 655-13
699,127.0347144182,서울특별시 강남구 논현로 566,100,37.5070324421,서울특별시 강남구 역삼동 650-20