In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import koreanize_matplotlib
from glob import glob
import os
from dotenv import load_dotenv
load_dotenv("./.dbenv")

True

# 환율정보 DB에서 추출하고 1999년부터 최근까지 추출하기

In [2]:
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [3]:
engine = create_engine(f"mysql+pymysql://{os.getenv('user')}:{os.getenv('pw')}@59.7.246.88:3306/korea_exchange_rate")
conn = engine.connect()

In [4]:
query = "Select * From exchange_rate"
exrate = pd.read_sql(query, con=conn)
conn.close()
exrate

,date,통화,현찰_살때_환율,현찰_살때_Spread,현찰_팔때_환율,현찰_팔때_Spread,송금_보낼때,송금_받을때,T/C_살때,외화_수표_팔때,매매기준율,환가_료율,미화 환산율
0,1995-01-03,미국 USD,800.53,1.5,776.87,1.5,791.80,785.60,792.64,0.00,788.70,0.00,1.0000
1,1995-01-03,일본 JPY (100),798.89,1.5,775.29,1.5,791.81,782.37,792.59,0.00,787.09,0.00,0.9980
2,1995-01-03,유로 EUR,0.00,0.0,0.00,0.0,975.40,959.92,0.00,957.94,967.66,7.37,1.2269
3,1995-01-03,중국 CNY,0.00,0.0,0.00,0.0,94.12,0.00,0.00,0.00,93.38,1.00,0.1184
4,1995-01-03,홍콩 HKD,103.45,3.0,100.41,3.0,102.74,101.12,0.00,0.00,101.93,0.00,0.1292
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383341,2024-09-13,리비아 LYD,0.00,0.0,0.00,0.0,281.24,275.68,NaN,0.00,278.46,0.00,0.2095
383342,2024-09-13,루마니아 RON,0.00,0.0,0.00,0.0,0.00,0.00,NaN,0.00,296.30,0.00,0.2229
383343,2024-09-13,미얀마 MMK,0.00,0.0,0.00,0.0,0.00,0.00,NaN,0.00,0.63,0.00,0.0005
383344,2024-09-13,에티오피아 ETB,0.00,0.0,0.00,0.0,0.00,0.00,NaN,0.00,11.34,0.00,0.0085
383345,2024-09-13,우즈베키스탄 UZS,0.00,0.0,0.00,0.0,0.00,0.00,NaN,0.00,0.10,0.00,0.0001

In [5]:
exrate_usa = exrate.loc[(exrate['date'] >= '1999-01-01') & (exrate['통화'] == '미국 USD'), ['date', '통화', '현찰_살때_환율']]
exrate_usa

              date      통화  현찰_살때_환율
40128   1999-01-01  미국 USD   1233.49
40150   1999-01-04  미국 USD   1215.56
40172   1999-01-05  미국 USD   1193.54
40194   1999-01-06  미국 USD   1185.85
40216   1999-01-07  미국 USD   1178.17
...            ...     ...       ...
383056  2024-09-09  미국 USD   1371.38
383114  2024-09-10  미국 USD   1368.23
383172  2024-09-11  미국 USD   1363.24
383230  2024-09-12  미국 USD   1364.97
383288  2024-09-13  미국 USD   1352.25

[8019 rows x 3 columns]

In [6]:
exrate_usa['date'] = pd.to_datetime(exrate_usa['date'])

In [7]:
exrate_usa['date'].dtype

dtype('<M8[ns]')

In [8]:
exrate_usa.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8019 entries, 40128 to 383288
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      8019 non-null   datetime64[ns]
 1   통화        8019 non-null   object
 2   현찰_살때_환율  8019 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 250.6+ KB

In [9]:
interest_rate = pd.read_csv("./환율_금리_학원정보등_부가자료/기준금리1999-2023.csv", encoding="utf-8")
interest_rate

    변경일자 Unnamed: 1  기준금리
0   2023    01월 13일  3.50
1   2022    11월 24일  3.25
2   2022    10월 12일  3.00
3   2022    08월 25일  2.50
4   2022    07월 13일  2.25
5   2022    05월 26일  1.75
6   2022    04월 14일  1.50
7   2022    01월 14일  1.25
8   2021    11월 25일  1.00
9   2021    08월 26일  0.75
10  2020    05월 28일  0.50
11  2020    03월 17일  0.75
12  2019    10월 16일  1.25
13  2019    07월 18일  1.50
14  2018    11월 30일  1.75
15  2017    11월 30일  1.50
16  2016    06월 09일  1.25
17  2015    06월 11일  1.50
18  2015    03월 12일  1.75
19  2014    10월 15일  2.00
20  2014    08월 14일  2.25
21  2013    05월 09일  2.50
22  2012    10월 11일  2.75
23  2012    07월 12일  3.00
24  2011    06월 10일  3.25
25  2011    03월 10일  3.00
26  2011    01월 13일  2.75
27  2010    11월 16일  2.50
28  2010    07월 09일  2.25
29  2009    02월 12일  2.00
30  2009    01월 09일  2.50
31  2008    12월 11일  3.00
32  2008    11월 07일  4.00
33  2008    10월 27일  4.25
34  2008    10월 09일  5.00
35  2008    08월 07일  5.25
36  2007    08월 09일  5.00
37  2007    07월 12일  4.75
38  2006    08월 10일  4.50
39  2006    06월 08일  4.25
40  2006    02월 09일  4.00
41  2005    12월 08일  3.75
42  2005    10월 11일  3.50
43  2004    11월 11일  3.25
44  2004    08월 12일  3.50
45  2003    07월 10일  3.75
46  2003    05월 13일  4.00
47  2002    05월 07일  4.25
48  2001    09월 19일  4.00
49  2001    08월 09일  4.50
50  2001    07월 05일  4.75
51  2001    02월 08일  5.00
52  2000    10월 05일  5.25
53  2000    02월 10일  5.00
54  1999    05월 06일  4.75

In [10]:
interest_rate.columns = ['연도', '월일', '기준금리']

In [11]:
interest_rate['date'] = interest_rate['연도'].astype('str') + "-" + interest_rate['월일']

In [12]:
interest_rate['date'] = interest_rate['date'].str.replace("월 ", "-").str.replace("일", "")
interest_rate_df = interest_rate[['date', '기준금리']].sort_values(by='date')
interest_rate_df

          date  기준금리
54  1999-05-06  4.75
53  2000-02-10  5.00
52  2000-10-05  5.25
51  2001-02-08  5.00
50  2001-07-05  4.75
49  2001-08-09  4.50
48  2001-09-19  4.00
47  2002-05-07  4.25
46  2003-05-13  4.00
45  2003-07-10  3.75
44  2004-08-12  3.50
43  2004-11-11  3.25
42  2005-10-11  3.50
41  2005-12-08  3.75
40  2006-02-09  4.00
39  2006-06-08  4.25
38  2006-08-10  4.50
37  2007-07-12  4.75
36  2007-08-09  5.00
35  2008-08-07  5.25
34  2008-10-09  5.00
33  2008-10-27  4.25
32  2008-11-07  4.00
31  2008-12-11  3.00
30  2009-01-09  2.50
29  2009-02-12  2.00
28  2010-07-09  2.25
27  2010-11-16  2.50
26  2011-01-13  2.75
25  2011-03-10  3.00
24  2011-06-10  3.25
23  2012-07-12  3.00
22  2012-10-11  2.75
21  2013-05-09  2.50
20  2014-08-14  2.25
19  2014-10-15  2.00
18  2015-03-12  1.75
17  2015-06-11  1.50
16  2016-06-09  1.25
15  2017-11-30  1.50
14  2018-11-30  1.75
13  2019-07-18  1.50
12  2019-10-16  1.25
11  2020-03-17  0.75
10  2020-05-28  0.50
9   2021-08-26  0.75
8   2021-11-25  1.00
7   2022-01-14  1.25
6   2022-04-14  1.50
5   2022-05-26  1.75
4   2022-07-13  2.25
3   2022-08-25  2.50
2   2022-10-12  3.00
1   2022-11-24  3.25
0   2023-01-13  3.50

# 전국 주소 정보

In [13]:
address_path = glob("./환율_금리_학원정보등_부가자료/zipcode_DB/*.txt")
print(address_path)
address_df = pd.DataFrame()
for area in address_path:
    adds= pd.read_csv(area, sep="|")
    address_df = pd.concat([address_df, adds])

['./환율_금리_학원정보등_부가자료/zipcode_DB\\강원특별자치도.txt', './환율_금리_학원정보등_부가자료/zipcode_DB\\경기도.txt', './환율_금리_학원정보등_부가자료/zipcode_DB\\경상남도.txt', './환율_금리_학원정보등_부가자료/zipcode_DB\\경상북도.txt', './환율_금리_학원정보등_부가자료/zipcode_DB\\광주광역시.txt', './환율_금리_학원정보등_부가자료/zipcode_DB\\대구광역시.txt', './환율_금리_학원정보등_부가자료/zipcode_DB\\대전광역시.txt', './환율_금리_학원정보등_부가자료/zipcode_DB\\부산광역시.txt', './환율_금리_학원정보등_부가자료/zipcode_DB\\서울특별시.txt', './환율_금리_학원정보등_부가자료/zipcode_DB\\세종특별자치시.txt', './환율_금리_학원정보등_부가자료/zipcode_DB\\울산광역시.txt', './환율_금리_학원정보등_부가자료/zipcode_DB\\인천광역시.txt', './환율_금리_학원정보등_부가자료/zipcode_DB\\전라남도.txt', './환율_금리_학원정보등_부가자료/zipcode_DB\\전북특별자치도.txt', './환율_금리_학원정보등_부가자료/zipcode_DB\\제주특별자치도.txt', './환율_금리_학원정보등_부가자료/zipcode_DB\\충청남도.txt', './환율_금리_학원정보등_부가자료/zipcode_DB\\충청북도.txt']

C:\Users\5-29\AppData\Local\Temp\ipykernel_6904\1836888744.py:5: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  adds= pd.read_csv(area, sep="|")
C:\Users\5-29\AppData\Local\Temp\ipykernel_6904\1836888744.py:5: DtypeWarning: Columns (5,6,18) have mixed types. Specify dtype option on import or set low_memory=False.
  adds= pd.read_csv(area, sep="|")
C:\Users\5-29\AppData\Local\Temp\ipykernel_6904\1836888744.py:5: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  adds= pd.read_csv(area, sep="|")
C:\Users\5-29\AppData\Local\Temp\ipykernel_6904\1836888744.py:5: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  adds= pd.read_csv(area, sep="|")
C:\Users\5-29\AppData\Local\Temp\ipykernel_6904\1836888744.py:5: DtypeWarning: Columns (5,6,18) have mixed types. Specify dtype option on import or set low_memory=False.
  adds= pd.read_csv(area, sep="|")
C:\Users\5-29\AppData\Local\Temp\ipykernel_6904\1836888744.py:5: DtypeWarning: Columns (5,6,18) have mixed types. Specify dtype option on import or set low_memory=False.
  adds= pd.read_csv(area, sep="|")
C:\Users\5-29\AppData\Local\Temp\ipykernel_6904\1836888744.py:5: DtypeWarning: Columns (5,6,18) have mixed types. Specify dtype option on import or set low_memory=False.
  adds= pd.read_csv(area, sep="|")
C:\Users\5-29\AppData\Local\Temp\ipykernel_6904\1836888744.py:5: DtypeWarning: Columns (5,6,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  adds= pd.read_csv(area, sep="|")
C:\Users\5-29\AppData\Local\Temp\ipykernel_6904\1836888744.py:5: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  adds= pd.read_csv(area, sep="|")
C:\Users\5-29\AppData\Local\Temp\ipykernel_6904\1836888744.py:5: DtypeWarning: Columns (5,6,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  adds= pd.read_csv(area, sep="|")
C:\Users\5-29\AppData\Local\Temp\ipykernel_6904\1836888744.py:5: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  adds= pd.read_csv(area, sep="|")
C:\Users\5-29\AppData\Local\Temp\ipykernel_6904\1836888744.py:5: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  adds= pd.read_csv(area, sep="|")

In [14]:
address_df.head()

,우편번호,시도,시도영문,시군구,시군구영문,읍면,읍면영문,도로명코드,도로명,도로명영문,...,법정동코드,법정동명,리명,행정동명,산여부,지번본번,읍면동일련번호,지번부번,구우편번호,우편번호일련번호
0,25627,강원특별자치도,Gangwon-do,강릉시,Gangneung-si,강동면,Gangdong-myeon,511503220033,임곡로,Imgok-ro,...,5115034022,NaN,모전리,강동면,0,45,1,3,NaN,NaN
1,25627,강원특별자치도,Gangwon-do,강릉시,Gangneung-si,강동면,Gangdong-myeon,511504460489,산두양지길,Sanduyangji-gil,...,5115034022,NaN,모전리,강동면,0,85,1,13,NaN,NaN
2,25627,강원특별자치도,Gangwon-do,강릉시,Gangneung-si,강동면,Gangdong-myeon,511504460489,산두양지길,Sanduyangji-gil,...,5115034022,NaN,모전리,강동면,0,85,1,12,NaN,NaN
3,25627,강원특별자치도,Gangwon-do,강릉시,Gangneung-si,강동면,Gangdong-myeon,511503220033,임곡로,Imgok-ro,...,5115034022,NaN,모전리,강동면,0,43,1,3,NaN,NaN
4,25627,강원특별자치도,Gangwon-do,강릉시,Gangneung-si,강동면,Gangdong-myeon,511504460640,아래장작골길,Araejangjakgol-gil,...,5115034022,NaN,모전리,강동면,0,247,1,0,NaN,NaN

In [15]:
address_df.columns

Index(['우편번호', '시도', '시도영문', '시군구', '시군구영문', '읍면', '읍면영문', '도로명코드', '도로명',
       '도로명영문', '지하여부', '건물번호본번', '건물번호부번', '건물관리번호', '다량배달처명', '시군구용건물명',
       '법정동코드', '법정동명', '리명', '행정동명', '산여부', '지번본번', '읍면동일련번호', '지번부번',
       '구우편번호', '우편번호일련번호'],
      dtype='object')

In [16]:
address_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6428174 entries, 0 to 336852
Data columns (total 26 columns):
 #   Column    Dtype
---  ------    -----
 0   우편번호      int64
 1   시도        object
 2   시도영문      object
 3   시군구       object
 4   시군구영문     object
 5   읍면        object
 6   읍면영문      object
 7   도로명코드     int64
 8   도로명       object
 9   도로명영문     object
 10  지하여부      int64
 11  건물번호본번    int64
 12  건물번호부번    int64
 13  건물관리번호    object
 14  다량배달처명    float64
 15  시군구용건물명   object
 16  법정동코드     int64
 17  법정동명      object
 18  리명        object
 19  행정동명      object
 20  산여부       int64
 21  지번본번      int64
 22  읍면동일련번호   int64
 23  지번부번      int64
 24  구우편번호     float64
 25  우편번호일련번호  float64
dtypes: float64(3), int64(10), object(13)
memory usage: 1.3+ GB

In [17]:
address_df2 = address_df[['우편번호', '시도', '시군구', '법정동명', '읍면']].copy()
address_df2

         우편번호       시도  시군구 법정동명   읍면
0       25627  강원특별자치도  강릉시  NaN  강동면
1       25627  강원특별자치도  강릉시  NaN  강동면
2       25627  강원특별자치도  강릉시  NaN  강동면
3       25627  강원특별자치도  강릉시  NaN  강동면
4       25627  강원특별자치도  강릉시  NaN  강동면
...       ...      ...  ...  ...  ...
336848  27489     충청북도  충주시  호암동  NaN
336849  27489     충청북도  충주시  호암동  NaN
336850  27489     충청북도  충주시  호암동  NaN
336851  27480     충청북도  충주시  호암동  NaN
336852  27489     충청북도  충주시  호암동  NaN

[6428174 rows x 5 columns]

In [18]:
address_df2 = address_df2.drop_duplicates(subset=['우편번호'])
address_df2

         우편번호       시도  시군구 법정동명   읍면
0       25627  강원특별자치도  강릉시  NaN  강동면
402     25630  강원특별자치도  강릉시  NaN  강동면
627     25620  강원특별자치도  강릉시  NaN  강동면
878     25632  강원특별자치도  강릉시  NaN  강동면
1125    25626  강원특별자치도  강릉시  NaN  강동면
...       ...      ...  ...  ...  ...
336116  27481     충청북도  충주시  호암동  NaN
336119  27415     충청북도  충주시  호암동  NaN
336123  27483     충청북도  충주시  호암동  NaN
336128  27480     충청북도  충주시  호암동  NaN
336131  27482     충청북도  충주시  호암동  NaN

[34382 rows x 5 columns]

In [19]:
len(address_df2['우편번호'])

34382

In [20]:
len(set(address_df2['우편번호']))

34382

In [21]:
address_df2 = address_df2.reset_index(drop=True)

In [22]:
address_df2[address_df2['우편번호'] == 14103]

       우편번호   시도      시군구 법정동명   읍면
5515  14103  경기도  안양시 동안구  평촌동  NaN

In [23]:
address_df2['우편번호'].min()

1000

In [24]:
address_df2['우편번호'].max()

63644

In [25]:
address_df2['시군구'].unique()

array(['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '원주시',
       '인제군', '정선군', '철원군', '춘천시', '태백시', '평창군', '홍천군', '화천군', '횡성군',
       '가평군', '고양시 덕양구', '고양시 일산동구', '고양시 일산서구', '과천시', '광명시', '광주시',
       '구리시', '군포시', '김포시', '남양주시', '동두천시', '부천시 소사구', '부천시 오정구',
       '부천시 원미구', '성남시 분당구', '성남시 수정구', '성남시 중원구', '수원시 권선구', '수원시 영통구',
       '수원시 장안구', '수원시 팔달구', '시흥시', '안산시 단원구', '안산시 상록구', '안성시',
       '안양시 동안구', '안양시 만안구', '양주시', '양평군', '여주시', '연천군', '오산시', '용인시 기흥구',
       '용인시 수지구', '용인시 처인구', '의왕시', '의정부시', '이천시', '파주시', '평택시', '포천시',
       '하남시', '화성시', '거제시', '거창군', '김해시', '남해군', '밀양시', '사천시', '산청군',
       '양산시', '의령군', '진주시', '창녕군', '창원시 마산합포구', '창원시 마산회원구', '창원시 성산구',
       '창원시 의창구', '창원시 진해구', '통영시', '하동군', '함안군', '함양군', '합천군', '경산시',
       '경주시', '고령군', '구미시', '김천시', '문경시', '봉화군', '상주시', '성주군', '안동시',
       '영덕군', '영양군', '영주시', '영천시', '예천군', '울릉군', '울진군', '의성군', '청도군',
       '청송군', '칠곡군', '포항시 남구', '포항시 북구', '광산구', '남구', '동구', '북구', '서구',
       '군위군', '달서구', '달성군', '수성구', '중구', '대덕구', '유성구', '강서구', '금정구',
       '기장군', '동래구', '부산진구', '사상구', '사하구', '수영구', '연제구', '영도구', '해운대구',
       '강남구', '강동구', '강북구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구',
       '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구',
       '영등포구', '용산구', '은평구', '종로구', '중랑구', nan, '울주군', '강화군', '계양구',
       '남동구', '미추홀구', '부평구', '연수구', '옹진군', '강진군', '고흥군', '곡성군', '광양시',
       '구례군', '나주시', '담양군', '목포시', '무안군', '보성군', '순천시', '신안군', '여수시',
       '영광군', '영암군', '완도군', '장성군', '장흥군', '진도군', '함평군', '해남군', '화순군',
       '고창군', '군산시', '김제시', '남원시', '무주군', '부안군', '순창군', '완주군', '익산시',
       '임실군', '장수군', '전주시 덕진구', '전주시 완산구', '정읍시', '진안군', '서귀포시', '제주시',
       '계룡시', '공주시', '금산군', '논산시', '당진시', '보령시', '부여군', '서산시', '서천군',
       '아산시', '예산군', '천안시 동남구', '천안시 서북구', '청양군', '태안군', '홍성군', '괴산군',
       '단양군', '보은군', '영동군', '옥천군', '음성군', '제천시', '증평군', '진천군', '청주시 상당구',
       '청주시 서원구', '청주시 청원구', '청주시 흥덕구', '충주시'], dtype=object)

In [26]:
post_code_range = address_df2.groupby('시군구')['우편번호'].agg(['min', 'max'])
post_code_range

       min    max
시군구
가평군  12400  12474
강남구   6000   6378
강동구   5200   5416
강릉시  25400  25646
강북구   1000   1237
..     ...    ...
홍천군  25100  25171
화성시  18200  18635
화순군  58100  58165
화천군  24100  24161
횡성군  25200  25273

[229 rows x 2 columns]

In [27]:
oldaddress_df = pd.read_excel("./환율_금리_학원정보등_부가자료/zipcode_DB/20150707_우편번호(기존형태).xls", header=[0,1])

In [28]:
oldaddress_df.columns

MultiIndex([(   '우편번호',  'Unnamed: 0_level_1'),
            (   '일련번호',  'Unnamed: 1_level_1'),
            ( '주    소',                  '시도'),
            ( '주    소',                 '시군구'),
            ( '주    소',                 '읍면동'),
            ( '주    소',                   '리'),
            ( '주    소',                  '도서'),
            (     '번지',  'Unnamed: 7_level_1'),
            ('아파트/건물명',  'Unnamed: 8_level_1'),
            (    '변경일',  'Unnamed: 9_level_1'),
            ( '주    소', 'Unnamed: 10_level_1')],
           )

In [29]:
oldaddress_df = oldaddress_df[[(   '우편번호',  'Unnamed: 0_level_1'), ( '주    소',                  '시도'),
            ( '주    소',                 '시군구'),
            ( '주    소',                 '읍면동'),
            ( '주    소',                   '리'),
           ]]

In [30]:
oldaddress_df.columns = ['우편번호', '시도', '시군구', '법정동명', '읍면']
oldaddress_df

         우편번호    시도  시군구 법정동명    읍면
0      210821   강원도  강릉시  강동면   모전리
1      210822   강원도  강릉시  강동면  산성우리
2      210821   강원도  강릉시  강동면  상시동리
3      210822   강원도  강릉시  강동면   심곡리
4      210824   강원도  강릉시  강동면   안인리
...       ...   ...  ...  ...   ...
52835  380763  충청북도  충주시  호암동   NaN
52836  380967  충청북도  충주시  호암동   NaN
52837  380966  충청북도  충주시  호암동   NaN
52838  380130  충청북도  충주시  호암동   NaN
52839  380600  충청북도  충주시  NaN   NaN

[52840 rows x 5 columns]

In [31]:
oldaddress_df = oldaddress_df.drop_duplicates(subset=['우편번호'])
oldaddress_df

         우편번호    시도  시군구 법정동명    읍면
0      210821   강원도  강릉시  강동면   모전리
1      210822   강원도  강릉시  강동면  산성우리
4      210824   강원도  강릉시  강동면   안인리
12     210823   강원도  강릉시  강동면  하시동리
13     210820   강원도  강릉시  강동면   NaN
...       ...   ...  ...  ...   ...
52835  380763  충청북도  충주시  호암동   NaN
52836  380967  충청북도  충주시  호암동   NaN
52837  380966  충청북도  충주시  호암동   NaN
52838  380130  충청북도  충주시  호암동   NaN
52839  380600  충청북도  충주시  NaN   NaN

[32057 rows x 5 columns]

In [32]:
oldaddress_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32057 entries, 0 to 52839
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   우편번호    32057 non-null  int64
 1   시도      32057 non-null  object
 2   시군구     32057 non-null  object
 3   법정동명    31700 non-null  object
 4   읍면      6790 non-null   object
dtypes: int64(1), object(4)
memory usage: 1.5+ MB

# 전국 학원 정보

In [33]:
academy = pd.read_csv("./환율_금리_학원정보등_부가자료/학원교습소정보_2024년08월31일기준.csv", encoding="cp949")
academy

C:\Users\5-29\AppData\Local\Temp\ipykernel_6904\2680520961.py:1: DtypeWarning: Columns (6,22) have mixed types. Specify dtype option on import or set low_memory=False.
  academy = pd.read_csv("./환율_금리_학원정보등_부가자료/학원교습소정보_2024년08월31일기준.csv", encoding="cp949")

,시도교육청코드,시도교육청명,행정구역명,학원교습소구분명,학원지정번호,학원명,개설일자,등록일자,등록상태명,휴원시작일자,...,교습과정목록명,교습과정명,인당수강료내용,수강료공개여부,기숙사학원여부,시설도로명주소,시설도로명상세주소,시설도로명우편번호,전화번호,수정일자
0,B10,서울특별시교육청,강남구,학원,3000040160,대치학원,20211111,20211111,개원,,...,보습·논술,보습·논술,,Y,N,서울특별시 강남구 삼성로 347,", 201호 (대치동, 대일빌딩)",6202,02-2135-7135,20240908
1,B10,서울특별시교육청,강남구,학원,3000039285,(A STUDIO)에이스튜디오학원,20210630,20210630,개원,,...,NaN,"연기(연극,뮤지컬,오페라)",,Y,N,서울특별시 강남구 논현로134길 5,", 5층, 6층 (논현동)",6052,02-6013-8112,20231018
2,B10,서울특별시교육청,강남구,학원,2531,(주)멘토르수학전문학원,19950804,19950804,개원,,...,"보습,",보습,,N,N,서울특별시 강남구 남부순환로 2927,", 501호 일부(대치동, 대치 클래시아)",6280,02-564-5002,20240428
3,B10,서울특별시교육청,강남구,학원,3000012704,(주)산에듀김영준국어논술전문별관학원,20110415,20110415,개원,,...,보습·논술,보습·논술,,N,N,서울특별시 강남구 선릉로62길 27,", 1~4층 (대치동)",135998,02-501-0575,20240908
4,B10,서울특별시교육청,강남구,학원,3000043003,(주)산에듀김영준국어논술전문프리미엄관학원,20221230,20221230,개원,,...,보습·논술,보습·논술,,Y,N,서울특별시 강남구 선릉로62길 32-2,", 5층 (대치동, 대아빌딩)",6207,NaN,20240908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136611,T10,제주특별자치도교육청,제주시,교습소,3699,화가처럼그리기교습소,20050223,20050223,개원,,...,미술(월600분),미술,,N,N,제주특별자치도 제주시 서광로20길 26,", (도남동)",63201,064-758-3006,20231018
136612,T10,제주특별자치도교육청,제주시,학원,1478,화랑학원,19970307,19970307,개원,,...,"보습,",보습,,Y,N,제주특별자치도 제주시 중앙로 521,", 3층 (아라일동)",63247,064-758-4722,20240825
136613,T10,제주특별자치도교육청,제주시,교습소,3000011860,화북필수학교습소,20200313,20200313,개원,,...,초등수학1,보습,"초등수학1:100000, 초등수학2:130000, 중등수학1:150000, 중등수학...",Y,N,제주특별자치도 제주시 진남로4길 19,", 1층 (화북일동)",63291,NaN,20240512
136614,T10,제주특별자치도교육청,제주시,교습소,3000011504,화원미술교습소,20181001,20180904,개원,,...,"미술(일반,720분)",미술,"미술(일반,720분):90000, 미술(일반, 840분):100000, 미술(일반,...",Y,N,제주특별자치도 제주시 인다9길 9,", 1층 (아라일동)",63247,NaN,20231018
136615,T10,제주특별자치도교육청,제주시,학원,3000011719,흙빚는화가미술학원,20190916,20190826,개원,,...,"미술,",미술,,Y,N,제주특별자치도 제주시 아란5길 13,", 201호 (아라일동)",63237,064-758-0365,20231018

In [34]:
academy.columns

Index(['시도교육청코드', '시도교육청명', '행정구역명', '학원교습소구분명', '학원지정번호', '학원명', '개설일자',
       '등록일자', '등록상태명', '휴원시작일자', '휴원종료일자', '정원합계', '일시수용능력인원합계', '분야명',
       '교습계열명', '교습과정목록명', '교습과정명', '인당수강료내용', '수강료공개여부', '기숙사학원여부', '시설도로명주소',
       '시설도로명상세주소', '시설도로명우편번호', '전화번호', '수정일자'],
      dtype='object')

In [35]:
academy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136616 entries, 0 to 136615
Data columns (total 25 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   시도교육청코드     136616 non-null  object
 1   시도교육청명      136616 non-null  object
 2   행정구역명       136474 non-null  object
 3   학원교습소구분명    136616 non-null  object
 4   학원지정번호      136616 non-null  int64
 5   학원명         136616 non-null  object
 6   개설일자        136616 non-null  object
 7   등록일자        136616 non-null  int64
 8   등록상태명       136616 non-null  object
 9   휴원시작일자      136616 non-null  object
 10  휴원종료일자      136616 non-null  object
 11  정원합계        136616 non-null  int64
 12  일시수용능력인원합계  136616 non-null  int64
 13  분야명         136612 non-null  object
 14  교습계열명       119566 non-null  object
 15  교습과정목록명     99036 non-null   object
 16  교습과정명       119591 non-null  object
 17  인당수강료내용     136616 non-null  object
 18  수강료공개여부     136616 non-null  object
 19  기숙사학원여부     136616 non-null  object
 20  시설도로명주소     136616 non-null  object
 21  시설도로명상세주소   136616 non-null  object
 22  시설도로명우편번호   136616 non-null  object
 23  전화번호        82074 non-null   object
 24  수정일자        136616 non-null  int64
dtypes: int64(5), object(20)
memory usage: 26.1+ MB

In [36]:
academy['시설도로명우편번호'] = academy['시설도로명우편번호'].apply(str)

In [37]:
academy[academy['시설도로명우편번호'].str.len()  < 4]

,시도교육청코드,시도교육청명,행정구역명,학원교습소구분명,학원지정번호,학원명,개설일자,등록일자,등록상태명,휴원시작일자,...,교습과정목록명,교습과정명,인당수강료내용,수강료공개여부,기숙사학원여부,시설도로명주소,시설도로명상세주소,시설도로명우편번호,전화번호,수정일자
279,B10,서울특별시교육청,강남구,교습소,2000002048,김경옥교습소,19811016,19811016,개원,,...,속독,속독,,N,N,.,,0,02-590-7498,20231018
285,B10,서울특별시교육청,강남구,교습소,2000001509,김미화교습소,19800809,19800809,개원,,...,음악,음악,,N,N,.,,0,02-57-9915,20231018
300,B10,서울특별시교육청,강남구,교습소,2000000280,김영민교습소,19820331,19820331,개원,,...,음악,음악,음악:25000,N,N,,,0,02-562-9450,20231018
301,B10,서울특별시교육청,강남구,교습소,2000001462,김영숙교습소,19800807,19800807,개원,,...,음악,음악,,N,N,.,,0,02-555-2782,20231018
308,B10,서울특별시교육청,강남구,교습소,2000002246,김용희교습소,19800814,19800814,개원,,...,꽃꽂이,꽃꽂이,,N,N,.,,0,02-0000-0000,20231018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109878,N10,충청남도교육청,연기군,학원,4316,한솔영어수학전문학원,20100913,20081114,개원,,...,"보습,",보습,,N,N,,,,041-865-0011,20231018
114287,P10,전라북도교육청,전주시,교습소,2000000046,김윤희피아노과외교습소,19820820,19820820,개원,,...,피아노기초,음악,"피아노기초:45000, 피아노일반:50000",N,N,,,0,NaN,20231018
120127,Q10,전라남도교육청,진도군,학원,7133,윤선생영어숲진도학원,20110103,20101224,개원,,...,"실용외국어(유아/초·중·고),",실용외국어(유아/초·중·고),,Y,N,전라남도 진도군 진도읍 옥주길 20,(진도읍),0,061-544-0321,20231018
120191,Q10,전라남도교육청,해남군,학원,2000006570,오선클래스음악학원,20020528,20020528,개원,,...,"음악,",음악,,Y,N,전라남도 해남군 해남읍 중앙1로 185-6,(해남읍),0,061-536-2994,20231018
121640,R10,경상북도교육청,구미시,학원,3000010739,P(피)S(에스)Y(와이)수학학원,20120104,20120104,개원,,...,NaN,보습,,Y,N,경상북도 구미시 상모로 51,", 2층 일부 (상모동)",0,054-462-4371,20231018

In [38]:
none_post_code_idx = academy[academy['시설도로명우편번호'].str.len()  < 4]['시설도로명우편번호'].index

In [39]:
academy = academy.drop(none_post_code_idx)

In [40]:
old_post_code_academies = academy[academy['시설도로명우편번호'].str.len()  > 5]
new_post_code_academies = academy[academy['시설도로명우편번호'].str.len()  <= 5]

In [41]:
old_post_code_academies.loc[:, '시설도로명우편번호'] = old_post_code_academies['시설도로명우편번호'].astype(int)
new_post_code_academies.loc[:, '시설도로명우편번호'] = new_post_code_academies['시설도로명우편번호'].astype(int)

In [42]:
old_post_code_academies

,시도교육청코드,시도교육청명,행정구역명,학원교습소구분명,학원지정번호,학원명,개설일자,등록일자,등록상태명,휴원시작일자,...,교습과정목록명,교습과정명,인당수강료내용,수강료공개여부,기숙사학원여부,시설도로명주소,시설도로명상세주소,시설도로명우편번호,전화번호,수정일자
3,B10,서울특별시교육청,강남구,학원,3000012704,(주)산에듀김영준국어논술전문별관학원,20110415,20110415,개원,,...,보습·논술,보습·논술,,N,N,서울특별시 강남구 선릉로62길 27,", 1~4층 (대치동)",135998,02-501-0575,20240908
9,B10,서울특별시교육청,강남구,학원,21034,(주)지이에스어학원,20080618,20080618,개원,,...,NaN,실용외국어(유아/초·중·고),,N,N,서울특별시 강남구 도곡로 408,디마크빌딩 705 706호 (대치동),135500,02-508-2445,20231018
11,B10,서울특별시교육청,강남구,학원,3000014569,(주)케이미디어텍학원,20120622,20120622,개원,,...,"보습,",NaN,,N,N,서울특별시 강남구 논현로 854,", B동 4층 일부 (신사동,KT신사지사)",135893,02-3448-4500,20231018
18,B10,서울특별시교육청,강남구,학원,3000011152,1-5디자인랩(Designlab)학원,20110607,20110607,개원,,...,NaN,미술,,N,N,서울특별시 강남구 도산대로 406,", 402호 (청담동)",135948,02-3447-1511,20231018
20,B10,서울특별시교육청,강남구,학원,1000035440,21세기수학보습학원,19900111,19900111,개원,,...,NaN,보습,,N,N,서울특별시 강남구 학동로42길 73,2층 (논현동),135832,02-549-6664,20231018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136590,T10,제주특별자치도교육청,제주시,교습소,3000010830,해법영어애월보나스교실교습소,20150706,20150706,개원,,...,영어초등(1400분),보습,"영어초등(1400분):180000, 영어중등(1800분):200000, 영어고등(1...",Y,N,제주특별자치도 제주시 애월읍 애월로 109,", 2층 (애월읍)",695913,064-799-0501,20231018
136591,T10,제주특별자치도교육청,제주시,교습소,3000010203,해법영어이도교습소,20120213,20120213,개원,,...,초등영어(1800분),보습,"초등영어(1800분):200000, 중등영어(2000분):240000, 고등영어(2...",Y,N,제주특별자치도 제주시 구남로4길 8-11,", 1층 (이도이동)",690851,064-723-1789,20240303
136602,T10,제주특별자치도교육청,제주시,학원,1331,형설지공학원,19951215,19951215,개원,,...,"입시,",NaN,,N,N,제주특별자치도 제주시 원노형3길 37,(노형동),690802,064-744-2510,20231018
136608,T10,제주특별자치도교육청,제주시,교습소,3000010148,홍기만영어교습소,20111021,20111021,개원,,...,"영어(초등,2240분)",보습,"영어(초등,2240분):300000, 영어(중등,2145분):300000, 영어심화...",N,N,제주특별자치도 제주시 연북로 74,4층 (연동),690817,064-746-0882,20240616
136610,T10,제주특별자치도교육청,제주시,교습소,3968,화가의집미술교습소,20060217,20060217,개원,,...,"미술(일반,월800분)",미술,"미술(일반,월800분):100000, 미술(일반,월960분):120000, 미술(일...",Y,N,제주특별자치도 제주시 서광로29길 28,", 태광아파트 상가 102호 (이도일동)",690828,064-722-7734,20231018

In [43]:
old_post_code_academies.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 27508 entries, 3 to 136610
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   시도교육청코드     27508 non-null  object
 1   시도교육청명      27508 non-null  object
 2   행정구역명       27502 non-null  object
 3   학원교습소구분명    27508 non-null  object
 4   학원지정번호      27508 non-null  int64
 5   학원명         27508 non-null  object
 6   개설일자        27508 non-null  object
 7   등록일자        27508 non-null  int64
 8   등록상태명       27508 non-null  object
 9   휴원시작일자      27508 non-null  object
 10  휴원종료일자      27508 non-null  object
 11  정원합계        27508 non-null  int64
 12  일시수용능력인원합계  27508 non-null  int64
 13  분야명         27508 non-null  object
 14  교습계열명       26223 non-null  object
 15  교습과정목록명     23544 non-null  object
 16  교습과정명       26233 non-null  object
 17  인당수강료내용     27508 non-null  object
 18  수강료공개여부     27508 non-null  object
 19  기숙사학원여부     27508 non-null  object
 20  시설도로명주소     27508 non-null  object
 21  시설도로명상세주소   27508 non-null  object
 22  시설도로명우편번호   27508 non-null  object
 23  전화번호        24808 non-null  object
 24  수정일자        27508 non-null  int64
dtypes: int64(5), object(20)
memory usage: 5.5+ MB

In [44]:
old_post_code_academies = pd.merge(old_post_code_academies, oldaddress_df, how='left', left_on='시설도로명우편번호', right_on='우편번호')
old_post_code_academies

,시도교육청코드,시도교육청명,행정구역명,학원교습소구분명,학원지정번호,학원명,개설일자,등록일자,등록상태명,휴원시작일자,...,시설도로명주소,시설도로명상세주소,시설도로명우편번호,전화번호,수정일자,우편번호,시도,시군구,법정동명,읍면
0,B10,서울특별시교육청,강남구,학원,3000012704,(주)산에듀김영준국어논술전문별관학원,20110415,20110415,개원,,...,서울특별시 강남구 선릉로62길 27,", 1~4층 (대치동)",135998,02-501-0575,20240908,135998.0,서울특별시,강남구,대치4동,NaN
1,B10,서울특별시교육청,강남구,학원,21034,(주)지이에스어학원,20080618,20080618,개원,,...,서울특별시 강남구 도곡로 408,디마크빌딩 705 706호 (대치동),135500,02-508-2445,20231018,135500.0,서울특별시,강남구,대치1동,NaN
2,B10,서울특별시교육청,강남구,학원,3000014569,(주)케이미디어텍학원,20120622,20120622,개원,,...,서울특별시 강남구 논현로 854,", B동 4층 일부 (신사동,KT신사지사)",135893,02-3448-4500,20231018,135893.0,서울특별시,강남구,신사동,NaN
3,B10,서울특별시교육청,강남구,학원,3000011152,1-5디자인랩(Designlab)학원,20110607,20110607,개원,,...,서울특별시 강남구 도산대로 406,", 402호 (청담동)",135948,02-3447-1511,20231018,135948.0,서울특별시,강남구,청담동,NaN
4,B10,서울특별시교육청,강남구,학원,1000035440,21세기수학보습학원,19900111,19900111,개원,,...,서울특별시 강남구 학동로42길 73,2층 (논현동),135832,02-549-6664,20231018,135832.0,서울특별시,강남구,논현2동,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27503,T10,제주특별자치도교육청,제주시,교습소,3000010830,해법영어애월보나스교실교습소,20150706,20150706,개원,,...,제주특별자치도 제주시 애월읍 애월로 109,", 2층 (애월읍)",695913,064-799-0501,20231018,695913.0,제주특별자치도,제주시,애월읍,애월리
27504,T10,제주특별자치도교육청,제주시,교습소,3000010203,해법영어이도교습소,20120213,20120213,개원,,...,제주특별자치도 제주시 구남로4길 8-11,", 1층 (이도이동)",690851,064-723-1789,20240303,690851.0,제주특별자치도,제주시,이도이동,NaN
27505,T10,제주특별자치도교육청,제주시,학원,1331,형설지공학원,19951215,19951215,개원,,...,제주특별자치도 제주시 원노형3길 37,(노형동),690802,064-744-2510,20231018,690802.0,제주특별자치도,제주시,노형동,NaN
27506,T10,제주특별자치도교육청,제주시,교습소,3000010148,홍기만영어교습소,20111021,20111021,개원,,...,제주특별자치도 제주시 연북로 74,4층 (연동),690817,064-746-0882,20240616,690817.0,제주특별자치도,제주시,연동,NaN
27507,T10,제주특별자치도교육청,제주시,교습소,3968,화가의집미술교습소,20060217,20060217,개원,,...,제주특별자치도 제주시 서광로29길 28,", 태광아파트 상가 102호 (이도일동)",690828,064-722-7734,20231018,690828.0,제주특별자치도,제주시,이도일동,NaN

In [45]:
new_post_code_academies = pd.merge(new_post_code_academies, address_df2, how='left', left_on='시설도로명우편번호', right_on='우편번호')
new_post_code_academies

,시도교육청코드,시도교육청명,행정구역명,학원교습소구분명,학원지정번호,학원명,개설일자,등록일자,등록상태명,휴원시작일자,...,시설도로명주소,시설도로명상세주소,시설도로명우편번호,전화번호,수정일자,우편번호,시도,시군구,법정동명,읍면
0,B10,서울특별시교육청,강남구,학원,3000040160,대치학원,20211111,20211111,개원,,...,서울특별시 강남구 삼성로 347,", 201호 (대치동, 대일빌딩)",6202,02-2135-7135,20240908,6202.0,서울특별시,강남구,대치동,NaN
1,B10,서울특별시교육청,강남구,학원,3000039285,(A STUDIO)에이스튜디오학원,20210630,20210630,개원,,...,서울특별시 강남구 논현로134길 5,", 5층, 6층 (논현동)",6052,02-6013-8112,20231018,6052.0,서울특별시,강남구,논현동,NaN
2,B10,서울특별시교육청,강남구,학원,2531,(주)멘토르수학전문학원,19950804,19950804,개원,,...,서울특별시 강남구 남부순환로 2927,", 501호 일부(대치동, 대치 클래시아)",6280,02-564-5002,20240428,6280.0,서울특별시,강남구,대치동,NaN
3,B10,서울특별시교육청,강남구,학원,3000043003,(주)산에듀김영준국어논술전문프리미엄관학원,20221230,20221230,개원,,...,서울특별시 강남구 선릉로62길 32-2,", 5층 (대치동, 대아빌딩)",6207,NaN,20240908,6207.0,서울특별시,강남구,대치동,NaN
4,B10,서울특별시교육청,강남구,학원,12776,(주)산에듀김영준국어논술전문학원,20080218,20060113,개원,,...,서울특별시 강남구 도곡로 409,", 2층, 5층 1호 (대치동, 타워엠프리스)",6207,02-501-0575,20240908,6207.0,서울특별시,강남구,대치동,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109023,T10,제주특별자치도교육청,제주시,교습소,3699,화가처럼그리기교습소,20050223,20050223,개원,,...,제주특별자치도 제주시 서광로20길 26,", (도남동)",63201,064-758-3006,20231018,63201.0,제주특별자치도,제주시,도남동,NaN
109024,T10,제주특별자치도교육청,제주시,학원,1478,화랑학원,19970307,19970307,개원,,...,제주특별자치도 제주시 중앙로 521,", 3층 (아라일동)",63247,064-758-4722,20240825,63247.0,제주특별자치도,제주시,아라이동,NaN
109025,T10,제주특별자치도교육청,제주시,교습소,3000011860,화북필수학교습소,20200313,20200313,개원,,...,제주특별자치도 제주시 진남로4길 19,", 1층 (화북일동)",63291,NaN,20240512,63291.0,제주특별자치도,제주시,화북일동,NaN
109026,T10,제주특별자치도교육청,제주시,교습소,3000011504,화원미술교습소,20181001,20180904,개원,,...,제주특별자치도 제주시 인다9길 9,", 1층 (아라일동)",63247,NaN,20231018,63247.0,제주특별자치도,제주시,아라이동,NaN
109027,T10,제주특별자치도교육청,제주시,학원,3000011719,흙빚는화가미술학원,20190916,20190826,개원,,...,제주특별자치도 제주시 아란5길 13,", 201호 (아라일동)",63237,064-758-0365,20231018,63237.0,제주특별자치도,제주시,아라일동,NaN

In [46]:
new_academy = pd.concat([old_post_code_academies, new_post_code_academies])
new_academy

,시도교육청코드,시도교육청명,행정구역명,학원교습소구분명,학원지정번호,학원명,개설일자,등록일자,등록상태명,휴원시작일자,...,시설도로명주소,시설도로명상세주소,시설도로명우편번호,전화번호,수정일자,우편번호,시도,시군구,법정동명,읍면
0,B10,서울특별시교육청,강남구,학원,3000012704,(주)산에듀김영준국어논술전문별관학원,20110415,20110415,개원,,...,서울특별시 강남구 선릉로62길 27,", 1~4층 (대치동)",135998,02-501-0575,20240908,135998.0,서울특별시,강남구,대치4동,NaN
1,B10,서울특별시교육청,강남구,학원,21034,(주)지이에스어학원,20080618,20080618,개원,,...,서울특별시 강남구 도곡로 408,디마크빌딩 705 706호 (대치동),135500,02-508-2445,20231018,135500.0,서울특별시,강남구,대치1동,NaN
2,B10,서울특별시교육청,강남구,학원,3000014569,(주)케이미디어텍학원,20120622,20120622,개원,,...,서울특별시 강남구 논현로 854,", B동 4층 일부 (신사동,KT신사지사)",135893,02-3448-4500,20231018,135893.0,서울특별시,강남구,신사동,NaN
3,B10,서울특별시교육청,강남구,학원,3000011152,1-5디자인랩(Designlab)학원,20110607,20110607,개원,,...,서울특별시 강남구 도산대로 406,", 402호 (청담동)",135948,02-3447-1511,20231018,135948.0,서울특별시,강남구,청담동,NaN
4,B10,서울특별시교육청,강남구,학원,1000035440,21세기수학보습학원,19900111,19900111,개원,,...,서울특별시 강남구 학동로42길 73,2층 (논현동),135832,02-549-6664,20231018,135832.0,서울특별시,강남구,논현2동,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109023,T10,제주특별자치도교육청,제주시,교습소,3699,화가처럼그리기교습소,20050223,20050223,개원,,...,제주특별자치도 제주시 서광로20길 26,", (도남동)",63201,064-758-3006,20231018,63201.0,제주특별자치도,제주시,도남동,NaN
109024,T10,제주특별자치도교육청,제주시,학원,1478,화랑학원,19970307,19970307,개원,,...,제주특별자치도 제주시 중앙로 521,", 3층 (아라일동)",63247,064-758-4722,20240825,63247.0,제주특별자치도,제주시,아라이동,NaN
109025,T10,제주특별자치도교육청,제주시,교습소,3000011860,화북필수학교습소,20200313,20200313,개원,,...,제주특별자치도 제주시 진남로4길 19,", 1층 (화북일동)",63291,NaN,20240512,63291.0,제주특별자치도,제주시,화북일동,NaN
109026,T10,제주특별자치도교육청,제주시,교습소,3000011504,화원미술교습소,20181001,20180904,개원,,...,제주특별자치도 제주시 인다9길 9,", 1층 (아라일동)",63247,NaN,20231018,63247.0,제주특별자치도,제주시,아라이동,NaN
109027,T10,제주특별자치도교육청,제주시,학원,3000011719,흙빚는화가미술학원,20190916,20190826,개원,,...,제주특별자치도 제주시 아란5길 13,", 201호 (아라일동)",63237,064-758-0365,20231018,63237.0,제주특별자치도,제주시,아라일동,NaN

In [47]:
most_common_post_code = academy.groupby('행정구역명')['시설도로명우편번호'].apply(lambda x: x.mode())
most_common_post_code

행정구역명
가평군    0     12417
강남구    0      6202
강동구    0      5269
강릉시    0     25515
강북구    0    142100
             ...
화성시    0     18476
화순군    0     58117
화천군    0     24124
횡성군    0     25234
흥덕구    0     28382
Name: 시설도로명우편번호, Length: 226, dtype: object

In [48]:
oldaddress_df[oldaddress_df['우편번호'] == 411822]

Empty DataFrame
Columns: [우편번호, 시도, 시군구, 법정동명, 읍면]
Index: []

In [49]:
new_academy = new_academy.drop(new_academy[new_academy['시군구'].isna() ==True].index)

In [50]:
new_academy[new_academy['시군구'].isna() == True]

Empty DataFrame
Columns: [시도교육청코드, 시도교육청명, 행정구역명, 학원교습소구분명, 학원지정번호, 학원명, 개설일자, 등록일자, 등록상태명, 휴원시작일자, 휴원종료일자, 정원합계, 일시수용능력인원합계, 분야명, 교습계열명, 교습과정목록명, 교습과정명, 인당수강료내용, 수강료공개여부, 기숙사학원여부, 시설도로명주소, 시설도로명상세주소, 시설도로명우편번호, 전화번호, 수정일자, 우편번호, 시도, 시군구, 법정동명, 읍면]
Index: []

[0 rows x 30 columns]

In [51]:
new_academy

,시도교육청코드,시도교육청명,행정구역명,학원교습소구분명,학원지정번호,학원명,개설일자,등록일자,등록상태명,휴원시작일자,...,시설도로명주소,시설도로명상세주소,시설도로명우편번호,전화번호,수정일자,우편번호,시도,시군구,법정동명,읍면
0,B10,서울특별시교육청,강남구,학원,3000012704,(주)산에듀김영준국어논술전문별관학원,20110415,20110415,개원,,...,서울특별시 강남구 선릉로62길 27,", 1~4층 (대치동)",135998,02-501-0575,20240908,135998.0,서울특별시,강남구,대치4동,NaN
1,B10,서울특별시교육청,강남구,학원,21034,(주)지이에스어학원,20080618,20080618,개원,,...,서울특별시 강남구 도곡로 408,디마크빌딩 705 706호 (대치동),135500,02-508-2445,20231018,135500.0,서울특별시,강남구,대치1동,NaN
2,B10,서울특별시교육청,강남구,학원,3000014569,(주)케이미디어텍학원,20120622,20120622,개원,,...,서울특별시 강남구 논현로 854,", B동 4층 일부 (신사동,KT신사지사)",135893,02-3448-4500,20231018,135893.0,서울특별시,강남구,신사동,NaN
3,B10,서울특별시교육청,강남구,학원,3000011152,1-5디자인랩(Designlab)학원,20110607,20110607,개원,,...,서울특별시 강남구 도산대로 406,", 402호 (청담동)",135948,02-3447-1511,20231018,135948.0,서울특별시,강남구,청담동,NaN
4,B10,서울특별시교육청,강남구,학원,1000035440,21세기수학보습학원,19900111,19900111,개원,,...,서울특별시 강남구 학동로42길 73,2층 (논현동),135832,02-549-6664,20231018,135832.0,서울특별시,강남구,논현2동,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109023,T10,제주특별자치도교육청,제주시,교습소,3699,화가처럼그리기교습소,20050223,20050223,개원,,...,제주특별자치도 제주시 서광로20길 26,", (도남동)",63201,064-758-3006,20231018,63201.0,제주특별자치도,제주시,도남동,NaN
109024,T10,제주특별자치도교육청,제주시,학원,1478,화랑학원,19970307,19970307,개원,,...,제주특별자치도 제주시 중앙로 521,", 3층 (아라일동)",63247,064-758-4722,20240825,63247.0,제주특별자치도,제주시,아라이동,NaN
109025,T10,제주특별자치도교육청,제주시,교습소,3000011860,화북필수학교습소,20200313,20200313,개원,,...,제주특별자치도 제주시 진남로4길 19,", 1층 (화북일동)",63291,NaN,20240512,63291.0,제주특별자치도,제주시,화북일동,NaN
109026,T10,제주특별자치도교육청,제주시,교습소,3000011504,화원미술교습소,20181001,20180904,개원,,...,제주특별자치도 제주시 인다9길 9,", 1층 (아라일동)",63247,NaN,20231018,63247.0,제주특별자치도,제주시,아라이동,NaN
109027,T10,제주특별자치도교육청,제주시,학원,3000011719,흙빚는화가미술학원,20190916,20190826,개원,,...,제주특별자치도 제주시 아란5길 13,", 201호 (아라일동)",63237,064-758-0365,20231018,63237.0,제주특별자치도,제주시,아라일동,NaN

In [52]:
def add_name_change(x):
    x = "서울특별시" if x == "서울" else x
    x = "전북특별자치도" if x == "전라북도" else x
    x = "강원특별자치도" if x == "강원도" else x 
    x = "강원특별자치도" if x == "강원" else x
    x = "울산광역시" if x == "울산" else x 
    x = "전라남도" if x == "전남" else x 
    return x

In [53]:
new_academy['시도'].unique()

array(['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시',
       '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도',
       '경상남도', '제주특별자치도', '강원특별자치도', '전북특별자치도'], dtype=object)

In [54]:
new_academy['시군구'].unique()

array(['강남구', '서초구', '강동구', '강북구', '강서구', '관악구', '광진구', '영등포구', '구로구',
       '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '성동구', '성북구',
       '송파구', '양천구', '용산구', '은평구', '종로구', '중구', '중랑구', '금정구', '기장군', '남구',
       '동구', '동래구', '부산진구', '북구', '사상구', '사하구', '수영구', '연제구', '영도구',
       '해운대구', '달서구', '달성군', '서구', '수성구', '계양구', '남동구', '부평구', '연수구',
       '옹진군', '광산구', '대덕구', '유성구', '울주군', ' ', '고양시 일산동구', '고양시 일산서구',
       '고양시 덕양구', '과천시', '광명시', '광주시', '구리시', '군포시', '김포시', '남양주시',
       '동두천시', '부천시 원미구', '부천시 오정구', '부천시 소사구', '성남시 분당구', '성남시 중원구',
       '성남시 수정구', '수원시 장안구', '수원시 영통구', '수원시 팔달구', '수원시 권선구', '시흥시',
       '안산시 단원구', '안산시 상록구', '안성시', '안양시 동안구', '안양시 만안구', '양주시', '양평군',
       '연천군', '오산시', '용인시 처인구', '용인시 수지구', '용인시 기흥구', '의왕시', '의정부시',
       '이천시', '파주시', '평택시', '포천시', '하남시', '화성시', '고성군', '동해시', '원주시',
       '춘천시', '청주시 상당구', '청주시 서원구', '청주시 청원구', '청주시 흥덕구', '계룡시', '논산시',
       '부여군', '서산시', '예산군', '천안시 서북구', '천안시 동남구', '청양군', '홍성군', '군산시',
       '김제시', '남원시', '무주군', '순창군', '완주군', '익산시', '임실군', '전주시 완산구',
       '전주시 덕진구', '정읍시', '진안군', '강진군', '고흥군', '광양시', '구례군', '나주시', '담양군',
       '목포시', '무안군', '순천시', '신안군', '여수시', '영암군', '완도군', '장흥군', '진도군',
       '함평군', '해남군', '경산시', '구미시', '군위군', '김천시', '문경시', '상주시', '성주군',
       '안동시', '영덕군', '영양군', '영주시', '예천군', '울릉군', '청도군', '칠곡군', '포항시 북구',
       '포항시 남구', '김해시', '남해군', '의령군', '진주시', '창원시 마산회원구', '제주시', '강화군',
       '미추홀구', '가평군', '여주시', '강릉시', '삼척시', '속초시', '양구군', '양양군', '영월군',
       '인제군', '정선군', '철원군', '태백시', '평창군', '홍천군', '화천군', '횡성군', '괴산군',
       '단양군', '보은군', '영동군', '옥천군', '음성군', '제천시', '증평군', '진천군', '충주시',
       '공주시', '금산군', '당진시', '보령시', '서천군', '아산시', '태안군', '고창군', '부안군',
       '장수군', '곡성군', '보성군', '영광군', '장성군', '화순군', '경주시', '고령군', '봉화군',
       '영천시', '울진군', '의성군', '청송군', '거제시', '거창군', '밀양시', '사천시', '산청군',
       '양산시', '창녕군', '창원시 성산구', '창원시 의창구', '창원시 진해구', '창원시 마산합포구', '통영시',
       '하동군', '함안군', '함양군', '합천군', '서귀포시'], dtype=object)

In [55]:
new_academy['시도'].apply(add_name_change)

0           서울특별시
1           서울특별시
2           서울특별시
3           서울특별시
4           서울특별시
           ...
109023    제주특별자치도
109024    제주특별자치도
109025    제주특별자치도
109026    제주특별자치도
109027    제주특별자치도
Name: 시도, Length: 134435, dtype: object

In [56]:
len(new_academy['법정동명'].unique())

2742

In [57]:
new_academy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 134435 entries, 0 to 109027
Data columns (total 30 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   시도교육청코드     134435 non-null  object
 1   시도교육청명      134435 non-null  object
 2   행정구역명       134293 non-null  object
 3   학원교습소구분명    134435 non-null  object
 4   학원지정번호      134435 non-null  int64
 5   학원명         134435 non-null  object
 6   개설일자        134435 non-null  object
 7   등록일자        134435 non-null  int64
 8   등록상태명       134435 non-null  object
 9   휴원시작일자      134435 non-null  object
 10  휴원종료일자      134435 non-null  object
 11  정원합계        134435 non-null  int64
 12  일시수용능력인원합계  134435 non-null  int64
 13  분야명         134431 non-null  object
 14  교습계열명       117647 non-null  object
 15  교습과정목록명     97480 non-null   object
 16  교습과정명       117672 non-null  object
 17  인당수강료내용     134435 non-null  object
 18  수강료공개여부     134435 non-null  object
 19  기숙사학원여부     134435 non-null  object
 20  시설도로명주소     134435 non-null  object
 21  시설도로명상세주소   134435 non-null  object
 22  시설도로명우편번호   134435 non-null  object
 23  전화번호        80961 non-null   object
 24  수정일자        134435 non-null  int64
 25  우편번호        134435 non-null  float64
 26  시도          134435 non-null  object
 27  시군구         134435 non-null  object
 28  법정동명        121403 non-null  object
 29  읍면          14670 non-null   object
dtypes: float64(1), int64(5), object(24)
memory usage: 31.8+ MB

In [58]:
academy_num = new_academy.groupby(['시도', '시군구', '법정동명'])[['학원명']].count()
academy_num

               학원명
시도   시군구 법정동명
강원도  고성군 간성읍     3
         거진읍     1
     동해시 천곡동     1
     원주시 원동      1
     춘천시 근화동     3
...            ...
충청북도 충주시 연수동    63
         용산동    65
         지현동     8
         칠금동    54
         호암동    74

[3283 rows x 1 columns]

In [59]:
academy_num.columns = ['학원수']
academy_num

               학원수
시도   시군구 법정동명
강원도  고성군 간성읍     3
         거진읍     1
     동해시 천곡동     1
     원주시 원동      1
     춘천시 근화동     3
...            ...
충청북도 충주시 연수동    63
         용산동    65
         지현동     8
         칠금동    54
         호암동    74

[3283 rows x 1 columns]

In [60]:
academy_num = academy_num.sort_values(by='학원수',  ascending=False)
academy_num

                        학원수
시도    시군구       법정동명
서울특별시 강남구       대치동    1279
인천광역시 연수구       송도동     851
서울특별시 양천구       목동      773
대구광역시 수성구       범어동     696
서울특별시 양천구       신정동     650
...                     ...
전라북도  군산시       중앙로2가     1
                장재동       1
                장미동       1
                월명동       1
경상남도  창원시 마산합포구 대외동       1

[3283 rows x 1 columns]

In [61]:
academy_num[:60]

                      학원수
시도    시군구      법정동명
서울특별시 강남구      대치동   1279
인천광역시 연수구      송도동    851
서울특별시 양천구      목동     773
대구광역시 수성구      범어동    696
서울특별시 양천구      신정동    650
경기도   남양주시     다산동    587
충청남도  천안시 서북구  불당동    555
부산광역시 강서구      명지동    540
인천광역시 서구       청라동    514
경기도   화성시      반송동    500
서울특별시 강남구      신사동    493
부산광역시 해운대구     좌동     488
경기도   성남시 분당구  정자동    486
      부천시 원미구  중동     458
               상동     458
서울특별시 서초구      서초동    426
      노원구      중계동    411
경기도   수원시 영통구  영통동    389
      안양시 동안구  호계동    368
      하남시      망월동    357
      안산시 단원구  고잔동    349
서울특별시 노원구      상계동    348
      관악구      봉천동    345
부산광역시 해운대구     우동     340
서울특별시 서초구      반포동    339
경기도   성남시 수정구  창곡동    336
      시흥시      배곧동    336
      용인시 기흥구  보정동    332
      성남시 분당구  수내동    329
서울특별시 서초구      방배동    329
경기도   군포시      산본동    321
      김포시      장기동    316
      성남시 분당구  서현동    314
      안양시 동안구  평촌동    314
대전광역시 서구       둔산동    308
경기도   화성시      산척동    306
울산광역시 남구       옥동     301
부산광역시 동래구      사직동    294
광주광역시 광산구      수완동    292
서울특별시 강서구      내발산동   291
대구광역시 달서구      월성동    291
서울특별시 서초구      잠원동    291
경기도   수원시 영통구  이의동    284
      화성시      청계동    282
광주광역시 남구       봉선동    280
경기도   고양시 일산서구 일산동    278
서울특별시 강서구      마곡동    271
경기도   수원시 영통구  망포동    270
대구광역시 수성구      만촌동    268
인천광역시 남동구      구월동    262
서울특별시 강남구      역삼동    262
경기도   용인시 수지구  풍덕천동   258
인천광역시 서구       원당동    255
경기도   양주시      옥정동    250
      파주시      동패동    246
      고양시 덕양구  화정동    244
인천광역시 남동구      논현동    244
경기도   수원시 장안구  정자동    244
      파주시      목동동    241
부산광역시 남구       대연동    241

# 전국 부동산 실거래가 데이터

In [62]:
file_paths = glob("./아파트매매실거래가1999-202408/*.csv")
print(file_paths)

['./아파트매매실거래가1999-202408\\1999_01.csv', './아파트매매실거래가1999-202408\\1999_02.csv', './아파트매매실거래가1999-202408\\1999_03.csv', './아파트매매실거래가1999-202408\\1999_04.csv', './아파트매매실거래가1999-202408\\1999_05.csv', './아파트매매실거래가1999-202408\\1999_06.csv', './아파트매매실거래가1999-202408\\1999_07.csv', './아파트매매실거래가1999-202408\\1999_08.csv', './아파트매매실거래가1999-202408\\1999_09.csv', './아파트매매실거래가1999-202408\\1999_10.csv', './아파트매매실거래가1999-202408\\1999_11.csv', './아파트매매실거래가1999-202408\\1999_12.csv', './아파트매매실거래가1999-202408\\2000_01.csv', './아파트매매실거래가1999-202408\\2000_02.csv', './아파트매매실거래가1999-202408\\2000_03.csv', './아파트매매실거래가1999-202408\\2000_04.csv', './아파트매매실거래가1999-202408\\2000_05.csv', './아파트매매실거래가1999-202408\\2000_06.csv', './아파트매매실거래가1999-202408\\2000_07.csv', './아파트매매실거래가1999-202408\\2000_08.csv', './아파트매매실거래가1999-202408\\2000_09.csv', './아파트매매실거래가1999-202408\\2000_10.csv', './아파트매매실거래가1999-202408\\2000_11.csv', './아파트매매실거래가1999-202408\\2000_12.csv', './아파트매매실거래가1999-202408\\200101.csv', './아파트매매실거래가1999-202408\\200102.csv', './아파트매매실거래가1999-202408\\200103.csv', './아파트매매실거래가1999-202408\\200104.csv', './아파트매매실거래가1999-202408\\200105.csv', './아파트매매실거래가1999-202408\\200106.csv', './아파트매매실거래가1999-202408\\200107.csv', './아파트매매실거래가1999-202408\\200108.csv', './아파트매매실거래가1999-202408\\200109.csv', './아파트매매실거래가1999-202408\\200110.csv', './아파트매매실거래가1999-202408\\200111.csv', './아파트매매실거래가1999-202408\\200112.csv', './아파트매매실거래가1999-202408\\200201.csv', './아파트매매실거래가1999-202408\\200202.csv', './아파트매매실거래가1999-202408\\200203.csv', './아파트매매실거래가1999-202408\\200204.csv', './아파트매매실거래가1999-202408\\200205.csv', './아파트매매실거래가1999-202408\\200206.csv', './아파트매매실거래가1999-202408\\200207.csv', './아파트매매실거래가1999-202408\\200208.csv', './아파트매매실거래가1999-202408\\200209.csv', './아파트매매실거래가1999-202408\\200210.csv', './아파트매매실거래가1999-202408\\200211.csv', './아파트매매실거래가1999-202408\\200212.csv', './아파트매매실거래가1999-202408\\200301.csv', './아파트매매실거래가1999-202408\\200302.csv', './아파트매매실거래가1999-202408\\200303.csv', './아파트매매실거래가1999-202408\\200304.csv', './아파트매매실거래가1999-202408\\200305.csv', './아파트매매실거래가1999-202408\\200306.csv', './아파트매매실거래가1999-202408\\200307.csv', './아파트매매실거래가1999-202408\\200308.csv', './아파트매매실거래가1999-202408\\200309.csv', './아파트매매실거래가1999-202408\\200310.csv', './아파트매매실거래가1999-202408\\200311.csv', './아파트매매실거래가1999-202408\\200312.csv', './아파트매매실거래가1999-202408\\200401.csv', './아파트매매실거래가1999-202408\\200402.csv', './아파트매매실거래가1999-202408\\200403.csv', './아파트매매실거래가1999-202408\\200404.csv', './아파트매매실거래가1999-202408\\200405.csv', './아파트매매실거래가1999-202408\\200406.csv', './아파트매매실거래가1999-202408\\200407.csv', './아파트매매실거래가1999-202408\\200408.csv', './아파트매매실거래가1999-202408\\200409.csv', './아파트매매실거래가1999-202408\\200410.csv', './아파트매매실거래가1999-202408\\200411.csv', './아파트매매실거래가1999-202408\\200412.csv', './아파트매매실거래가1999-202408\\200501.csv', './아파트매매실거래가1999-202408\\200502.csv', './아파트매매실거래가1999-202408\\200503.csv', './아파트매매실거래가1999-202408\\200504.csv', './아파트매매실거래가1999-202408\\200505.csv', './아파트매매실거래가1999-202408\\200506.csv', './아파트매매실거래가1999-202408\\200507.csv', './아파트매매실거래가1999-202408\\200508.csv', './아파트매매실거래가1999-202408\\200509.csv', './아파트매매실거래가1999-202408\\200510.csv', './아파트매매실거래가1999-202408\\200511.csv', './아파트매매실거래가1999-202408\\200512.csv', './아파트매매실거래가1999-202408\\200601.csv', './아파트매매실거래가1999-202408\\200602.csv', './아파트매매실거래가1999-202408\\200603.csv', './아파트매매실거래가1999-202408\\200604.csv', './아파트매매실거래가1999-202408\\200605.csv', './아파트매매실거래가1999-202408\\200606.csv', './아파트매매실거래가1999-202408\\200607.csv', './아파트매매실거래가1999-202408\\200608.csv', './아파트매매실거래가1999-202408\\200609.csv', './아파트매매실거래가1999-202408\\200610.csv', './아파트매매실거래가1999-202408\\200611.csv', './아파트매매실거래가1999-202408\\200612.csv', './아파트매매실거래가1999-202408\\200701.csv', './아파트매매실거래가1999-202408\\200702.csv', './아파트매매실거래가1999-202408\\200703.csv', './아파트매매실거래가1999-202408\\200704.csv', './아파트매매실거래가1999-202408\\200705.csv', './아파트매매실거래가1999-202408\\200706.csv', './아파트매매실거래가1999-202408\\200707.csv', './아파트매매실거래가1999-202408\\200708.csv', './아파트매매실거래가1999-202408\\200709.csv', './아파트매매실거래가1999-202408\\200710.csv', './아파트매매실거래가1999-202408\\200711.csv', './아파트매매실거래가1999-202408\\200712.csv', './아파트매매실거래가1999-202408\\200801.csv', './아파트매매실거래가1999-202408\\200802.csv', './아파트매매실거래가1999-202408\\200803.csv', './아파트매매실거래가1999-202408\\200804.csv', './아파트매매실거래가1999-202408\\200805.csv', './아파트매매실거래가1999-202408\\200806.csv', './아파트매매실거래가1999-202408\\200807.csv', './아파트매매실거래가1999-202408\\200808.csv', './아파트매매실거래가1999-202408\\200809.csv', './아파트매매실거래가1999-202408\\200810.csv', './아파트매매실거래가1999-202408\\200811.csv', './아파트매매실거래가1999-202408\\200812.csv', './아파트매매실거래가1999-202408\\200901.csv', './아파트매매실거래가1999-202408\\200902.csv', './아파트매매실거래가1999-202408\\200903.csv', './아파트매매실거래가1999-202408\\200904.csv', './아파트매매실거래가1999-202408\\200905.csv', './아파트매매실거래가1999-202408\\200906.csv', './아파트매매실거래가1999-202408\\200907.csv', './아파트매매실거래가1999-202408\\200908.csv', './아파트매매실거래가1999-202408\\200909.csv', './아파트매매실거래가1999-202408\\200910.csv', './아파트매매실거래가1999-202408\\200911.csv', './아파트매매실거래가1999-202408\\200912.csv', './아파트매매실거래가1999-202408\\201001.csv', './아파트매매실거래가1999-202408\\201002.csv', './아파트매매실거래가1999-202408\\201003.csv', './아파트매매실거래가1999-202408\\201004.csv', './아파트매매실거래가1999-202408\\201005.csv', './아파트매매실거래가1999-202408\\201006.csv', './아파트매매실거래가1999-202408\\201007.csv', './아파트매매실거래가1999-202408\\201008.csv', './아파트매매실거래가1999-202408\\201009.csv', './아파트매매실거래가1999-202408\\201010.csv', './아파트매매실거래가1999-202408\\201011.csv', './아파트매매실거래가1999-202408\\201012.csv', './아파트매매실거래가1999-202408\\201101.csv', './아파트매매실거래가1999-202408\\201102.csv', './아파트매매실거래가1999-202408\\201103.csv', './아파트매매실거래가1999-202408\\201104.csv', './아파트매매실거래가1999-202408\\201105.csv', './아파트매매실거래가1999-202408\\201106.csv', './아파트매매실거래가1999-202408\\201107.csv', './아파트매매실거래가1999-202408\\201108.csv', './아파트매매실거래가1999-202408\\201109.csv', './아파트매매실거래가1999-202408\\201110.csv', './아파트매매실거래가1999-202408\\201111.csv', './아파트매매실거래가1999-202408\\201112.csv', './아파트매매실거래가1999-202408\\201201.csv', './아파트매매실거래가1999-202408\\201202.csv', './아파트매매실거래가1999-202408\\201203.csv', './아파트매매실거래가1999-202408\\201204.csv', './아파트매매실거래가1999-202408\\201205.csv', './아파트매매실거래가1999-202408\\201206.csv', './아파트매매실거래가1999-202408\\201207.csv', './아파트매매실거래가1999-202408\\201208.csv', './아파트매매실거래가1999-202408\\201209.csv', './아파트매매실거래가1999-202408\\201210.csv', './아파트매매실거래가1999-202408\\201211.csv', './아파트매매실거래가1999-202408\\201212.csv', './아파트매매실거래가1999-202408\\201301.csv', './아파트매매실거래가1999-202408\\201302.csv', './아파트매매실거래가1999-202408\\201303.csv', './아파트매매실거래가1999-202408\\201304.csv', './아파트매매실거래가1999-202408\\201401.csv', './아파트매매실거래가1999-202408\\201402.csv', './아파트매매실거래가1999-202408\\201403.csv', './아파트매매실거래가1999-202408\\201404.csv', './아파트매매실거래가1999-202408\\201405.csv', './아파트매매실거래가1999-202408\\201406.csv', './아파트매매실거래가1999-202408\\201407.csv', './아파트매매실거래가1999-202408\\201408.csv', './아파트매매실거래가1999-202408\\201409.csv', './아파트매매실거래가1999-202408\\201410.csv', './아파트매매실거래가1999-202408\\201411.csv', './아파트매매실거래가1999-202408\\201412.csv', './아파트매매실거래가1999-202408\\201501.csv', './아파트매매실거래가1999-202408\\201502.csv', './아파트매매실거래가1999-202408\\201503.csv', './아파트매매실거래가1999-202408\\201504.csv', './아파트매매실거래가1999-202408\\201505.csv', './아파트매매실거래가1999-202408\\201506.csv', './아파트매매실거래가1999-202408\\201507.csv', './아파트매매실거래가1999-202408\\201508.csv', './아파트매매실거래가1999-202408\\201509.csv', './아파트매매실거래가1999-202408\\201510.csv', './아파트매매실거래가1999-202408\\201511.csv', './아파트매매실거래가1999-202408\\201512.csv', './아파트매매실거래가1999-202408\\201601.csv', './아파트매매실거래가1999-202408\\201602.csv', './아파트매매실거래가1999-202408\\201603.csv', './아파트매매실거래가1999-202408\\201604.csv', './아파트매매실거래가1999-202408\\201605.csv', './아파트매매실거래가1999-202408\\201606.csv', './아파트매매실거래가1999-202408\\201607.csv', './아파트매매실거래가1999-202408\\201608.csv', './아파트매매실거래가1999-202408\\201609.csv', './아파트매매실거래가1999-202408\\201610.csv', './아파트매매실거래가1999-202408\\201611.csv', './아파트매매실거래가1999-202408\\201612.csv', './아파트매매실거래가1999-202408\\201701.csv', './아파트매매실거래가1999-202408\\201702.csv', './아파트매매실거래가1999-202408\\201703.csv', './아파트매매실거래가1999-202408\\201704.csv', './아파트매매실거래가1999-202408\\201705.csv', './아파트매매실거래가1999-202408\\201706.csv', './아파트매매실거래가1999-202408\\201707.csv', './아파트매매실거래가1999-202408\\201708.csv', './아파트매매실거래가1999-202408\\201709.csv', './아파트매매실거래가1999-202408\\201710.csv', './아파트매매실거래가1999-202408\\201711.csv', './아파트매매실거래가1999-202408\\201712.csv', './아파트매매실거래가1999-202408\\201801.csv', './아파트매매실거래가1999-202408\\201802.csv', './아파트매매실거래가1999-202408\\201803.csv', './아파트매매실거래가1999-202408\\201804.csv', './아파트매매실거래가1999-202408\\201805.csv', './아파트매매실거래가1999-202408\\201806.csv', './아파트매매실거래가1999-202408\\201807.csv', './아파트매매실거래가1999-202408\\201808.csv', './아파트매매실거래가1999-202408\\201809.csv', './아파트매매실거래가1999-202408\\201810.csv', './아파트매매실거래가1999-202408\\201811.csv', './아파트매매실거래가1999-202408\\201812.csv', './아파트매매실거래가1999-202408\\201901.csv', './아파트매매실거래가1999-202408\\201902.csv', './아파트매매실거래가1999-202408\\201903.csv', './아파트매매실거래가1999-202408\\201904.csv', './아파트매매실거래가1999-202408\\201905.csv', './아파트매매실거래가1999-202408\\201906.csv', './아파트매매실거래가1999-202408\\201907.csv', './아파트매매실거래가1999-202408\\201908.csv', './아파트매매실거래가1999-202408\\201909.csv', './아파트매매실거래가1999-202408\\201910.csv', './아파트매매실거래가1999-202408\\201911.csv', './아파트매매실거래가1999-202408\\201912.csv', './아파트매매실거래가1999-202408\\202001.csv', './아파트매매실거래가1999-202408\\202002.csv', './아파트매매실거래가1999-202408\\202003.csv', './아파트매매실거래가1999-202408\\202004.csv', './아파트매매실거래가1999-202408\\202005.csv', './아파트매매실거래가1999-202408\\202006.csv', './아파트매매실거래가1999-202408\\202007.csv', './아파트매매실거래가1999-202408\\202008.csv', './아파트매매실거래가1999-202408\\202009.csv', './아파트매매실거래가1999-202408\\202010.csv', './아파트매매실거래가1999-202408\\202011.csv', './아파트매매실거래가1999-202408\\202012.csv', './아파트매매실거래가1999-202408\\202101.csv', './아파트매매실거래가1999-202408\\202102.csv', './아파트매매실거래가1999-202408\\202103.csv', './아파트매매실거래가1999-202408\\202104.csv', './아파트매매실거래가1999-202408\\202105.csv', './아파트매매실거래가1999-202408\\202106.csv', './아파트매매실거래가1999-202408\\202107.csv', './아파트매매실거래가1999-202408\\202108.csv', './아파트매매실거래가1999-202408\\202109.csv', './아파트매매실거래가1999-202408\\202110.csv', './아파트매매실거래가1999-202408\\202111.csv', './아파트매매실거래가1999-202408\\202112.csv', './아파트매매실거래가1999-202408\\202201.csv', './아파트매매실거래가1999-202408\\202202.csv', './아파트매매실거래가1999-202408\\202203.csv', './아파트매매실거래가1999-202408\\202204.csv', './아파트매매실거래가1999-202408\\202205.csv', './아파트매매실거래가1999-202408\\202206.csv', './아파트매매실거래가1999-202408\\202207.csv', './아파트매매실거래가1999-202408\\202208.csv', './아파트매매실거래가1999-202408\\202209.csv', './아파트매매실거래가1999-202408\\202210.csv', './아파트매매실거래가1999-202408\\202211.csv', './아파트매매실거래가1999-202408\\202212.csv', './아파트매매실거래가1999-202408\\202301.csv', './아파트매매실거래가1999-202408\\202302.csv', './아파트매매실거래가1999-202408\\202303.csv', './아파트매매실거래가1999-202408\\202304.csv', './아파트매매실거래가1999-202408\\202305.csv', './아파트매매실거래가1999-202408\\202306.csv', './아파트매매실거래가1999-202408\\202307.csv', './아파트매매실거래가1999-202408\\202308.csv', './아파트매매실거래가1999-202408\\202309.csv', './아파트매매실거래가1999-202408\\202310.csv', './아파트매매실거래가1999-202408\\202311.csv', './아파트매매실거래가1999-202408\\202312.csv', './아파트매매실거래가1999-202408\\202401.csv', './아파트매매실거래가1999-202408\\202402.csv', './아파트매매실거래가1999-202408\\202403.csv', './아파트매매실거래가1999-202408\\202404.csv', './아파트매매실거래가1999-202408\\202405.csv', './아파트매매실거래가1999-202408\\202406.csv', './아파트매매실거래가1999-202408\\202407.csv', './아파트매매실거래가1999-202408\\202408.csv']

In [63]:
test = pd.read_csv(file_paths[200], header=15, encoding="cp949")
test

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,등기신청일자,거래유형,중개사소재지
0,강원특별자치도 강릉시 견소동,202,202,0,송정한신,59.8000,201605,12,"11,700",11,1997,경강로2539번길 8,NaN,,-,-
1,강원특별자치도 강릉시 견소동,202,202,0,송정한신,39.0800,201605,16,"8,350",3,1997,경강로2539번길 8,NaN,,-,-
2,강원특별자치도 강릉시 견소동,202,202,0,송정한신,59.8000,201605,17,"11,250",10,1997,경강로2539번길 8,NaN,,-,-
3,강원특별자치도 강릉시 견소동,202,202,0,송정한신,39.0800,201605,24,"7,900",2,1997,경강로2539번길 8,NaN,,-,-
4,강원특별자치도 강릉시 견소동,202,202,0,송정한신,39.0800,201605,28,"8,300",4,1997,경강로2539번길 8,NaN,,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51416,충청북도 충주시 호암동,906,906,0,세영더-조은,141.7577,201605,30,"23,000",15,2007,형설로 32,NaN,,-,-
51417,충청북도 충주시 호암동,547-6,547,6,호반현대,84.9600,201605,14,"12,500",13,1994,신촌2길 29,NaN,,-,-
51418,충청북도 충주시 호암동,547-6,547,6,호반현대,84.9600,201605,20,"11,600",1,1994,신촌2길 29,NaN,,-,-
51419,충청북도 충주시 호암동,905,905,0,호암동수채,84.9289,201605,16,"19,700",9,2007,호암중앙1로 47,NaN,,-,-
51420,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.6800,201605,24,"15,700",15,2002,원호암5길 32,NaN,,-,-

In [64]:
# apart_data = pd.DataFrame()
# for file in file_paths:
#     try:
#         temp = pd.read_csv(file, header=15, encoding="cp949")
#         apart_data = pd.concat([apart_data, temp])
#     except Exception as e:
#         print(e)
#         temp = pd.read_csv(file, header=15, encoding="utf-8")
#         apart_data = pd.concat([apart_data, temp])
# apart_data

In [65]:
# apart_data.to_csv("apartment_price_1999_2024.csv", encoding="utf-8", index=False)

In [66]:
apart_data = pd.read_csv("apartment_price_1999_2024.csv")

C:\Users\5-29\AppData\Local\Temp\ipykernel_6904\2360902745.py:1: DtypeWarning: Columns (2,12,13,17,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  apart_data = pd.read_csv("apartment_price_1999_2024.csv")

In [67]:
apart_data.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,...,도로명,해제사유발생일,등기신청일자,거래유형,중개사소재지,NO,동,매수자,매도자,등기일자
0,강원특별자치도 양구군 양구읍 상리,510,510,0.0,경림,59.400,200509,23,"5,000",11,...,양록길23번길 11,NaN,,-,-,NaN,NaN,NaN,NaN,NaN
1,경기도 의정부시 민락동,756-7,756,7.0,한라비발디,84.990,200510,30,"12,750",19,...,오목로 73,NaN,,-,-,NaN,NaN,NaN,NaN,NaN
2,경기도 의정부시 신곡동,456,456,0.0,신일1,59.878,200510,20,"5,750",3,...,시민로245번길 10,NaN,,-,-,NaN,NaN,NaN,NaN,NaN
3,경기도 의정부시 신곡동,727-1,727,1.0,풍림,49.830,200510,20,"5,500",8,...,회룡로 245,NaN,,-,-,NaN,NaN,NaN,NaN,NaN
4,경기도 의정부시 용현동,46,46,0.0,용현현대1차,129.730,200511,21,"12,200",11,...,오목로 36,NaN,,-,-,NaN,NaN,NaN,NaN,NaN

In [68]:
apart_data.columns

Index(['시군구', '번지', '본번', '부번', '단지명', '전용면적(㎡)', '계약년월', '계약일', '거래금액(만원)',
       '층', '건축년도', '도로명', '해제사유발생일', '등기신청일자', '거래유형', '중개사소재지', 'NO', '동',
       '매수자', '매도자', '등기일자'],
      dtype='object')

In [69]:
apart_data.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10041451 entries, 0 to 10041450
Data columns (total 21 columns):
 #   Column    Non-Null Count     Dtype
---  ------    --------------     -----
 0   시군구       10041451 non-null  object
 1   번지        10041193 non-null  object
 2   본번        10041375 non-null  object
 3   부번        10041375 non-null  float64
 4   단지명       10041451 non-null  object
 5   전용면적(㎡)   10041451 non-null  float64
 6   계약년월      10041451 non-null  int64
 7   계약일       10041451 non-null  int64
 8   거래금액(만원)  10041451 non-null  object
 9   층         10041451 non-null  int64
 10  건축년도      10041336 non-null  float64
 11  도로명       10041451 non-null  object
 12  해제사유발생일   539598 non-null    object
 13  등기신청일자    9595760 non-null   object
 14  거래유형      10041451 non-null  object
 15  중개사소재지    10041451 non-null  object
 16  NO        445691 non-null    float64
 17  동         445691 non-null    object
 18  매수자       445691 non-null    object
 19  매도자       445691 non-null    object
 20  등기일자      445691 non-null    object
dtypes: float64(4), int64(3), object(14)
memory usage: 1.6+ GB

In [70]:
apart_data = apart_data.reset_index(drop=True)
apart_data

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,...,도로명,해제사유발생일,등기신청일자,거래유형,중개사소재지,NO,동,매수자,매도자,등기일자
0,강원특별자치도 양구군 양구읍 상리,510,510,0.0,경림,59.4000,200509,23,"5,000",11,...,양록길23번길 11,NaN,,-,-,NaN,NaN,NaN,NaN,NaN
1,경기도 의정부시 민락동,756-7,756,7.0,한라비발디,84.9900,200510,30,"12,750",19,...,오목로 73,NaN,,-,-,NaN,NaN,NaN,NaN,NaN
2,경기도 의정부시 신곡동,456,456,0.0,신일1,59.8780,200510,20,"5,750",3,...,시민로245번길 10,NaN,,-,-,NaN,NaN,NaN,NaN,NaN
3,경기도 의정부시 신곡동,727-1,727,1.0,풍림,49.8300,200510,20,"5,500",8,...,회룡로 245,NaN,,-,-,NaN,NaN,NaN,NaN,NaN
4,경기도 의정부시 용현동,46,46,0.0,용현현대1차,129.7300,200511,21,"12,200",11,...,오목로 36,NaN,,-,-,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10041446,인천광역시 서구 당하동,1090-1,1090,1.0,검단힐스테이트4차,107.4423,202408,1,"52,000",8,...,청마로 92,-,NaN,중개거래,인천 서구,41073.0,-,개인,개인,-
10041447,경기도 수원시 권선구 세류동,1255,1255,0.0,권선어울림,120.4100,202408,1,"58,800",9,...,세권로43번길 26-6,-,NaN,중개거래,경기 수원시 권선구,41074.0,-,개인,개인,-
10041448,울산광역시 울주군 온양읍 망양리,가-5-1,5,1.0,회야리버,39.7150,202408,1,"7,000",4,...,원동2길 19-2,-,NaN,직거래,-,41075.0,101,개인,개인,24.08.02
10041449,대전광역시 서구 둔산동,1510,1510,0.0,목련,101.8300,202408,1,"98,500",1,...,둔산남로 127,-,NaN,중개거래,대전 서구,41076.0,-,개인,개인,-
10041450,인천광역시 서구 마전동,925,925,0.0,서해,59.9700,202408,1,"15,800",2,...,검단로487번안길 16,-,NaN,중개거래,인천 서구,41077.0,-,개인,개인,-

In [71]:
apart_data.isna().sum() / len(apart_data) * 100

시군구          0.000000
번지           0.002569
본번           0.000757
부번           0.000757
단지명          0.000000
전용면적(㎡)      0.000000
계약년월         0.000000
계약일          0.000000
거래금액(만원)     0.000000
층            0.000000
건축년도         0.001145
도로명          0.000000
해제사유발생일     94.626295
등기신청일자       4.438512
거래유형         0.000000
중개사소재지       0.000000
NO          95.561488
동           95.561488
매수자         95.561488
매도자         95.561488
등기일자        95.561488
dtype: float64

In [72]:
apart_data.columns

Index(['시군구', '번지', '본번', '부번', '단지명', '전용면적(㎡)', '계약년월', '계약일', '거래금액(만원)',
       '층', '건축년도', '도로명', '해제사유발생일', '등기신청일자', '거래유형', '중개사소재지', 'NO', '동',
       '매수자', '매도자', '등기일자'],
      dtype='object')

In [73]:
apart_data = apart_data.drop(["해제사유발생일", 'NO', '동', '매수자', '매도자', '등기일자', '등기신청일자'], axis=1)

In [86]:
apart_data

,주소,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,시군,시군구,법정동명
0,강원특별자치도 양구군 양구읍 상리,510,510,0.0,경림,59.4000,200509,23,"5,000",11,1998.0,양록길23번길 11,강원특별자치도,양구군,양구읍 상리
1,경기도 의정부시 민락동,756-7,756,7.0,한라비발디,84.9900,200510,30,"12,750",19,2003.0,오목로 73,경기도,의정부시,민락동
2,경기도 의정부시 신곡동,456,456,0.0,신일1,59.8780,200510,20,"5,750",3,1997.0,시민로245번길 10,경기도,의정부시,신곡동
3,경기도 의정부시 신곡동,727-1,727,1.0,풍림,49.8300,200510,20,"5,500",8,1998.0,회룡로 245,경기도,의정부시,신곡동
4,경기도 의정부시 용현동,46,46,0.0,용현현대1차,129.7300,200511,21,"12,200",11,1992.0,오목로 36,경기도,의정부시,용현동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10041446,인천광역시 서구 당하동,1090-1,1090,1.0,검단힐스테이트4차,107.4423,202408,1,"52,000",8,2012.0,청마로 92,인천광역시,서구,당하동
10041447,경기도 수원시 권선구 세류동,1255,1255,0.0,권선어울림,120.4100,202408,1,"58,800",9,2010.0,세권로43번길 26-6,경기도,수원시,권선구 세류동
10041448,울산광역시 울주군 온양읍 망양리,가-5-1,5,1.0,회야리버,39.7150,202408,1,"7,000",4,2000.0,원동2길 19-2,울산광역시,울주군,온양읍 망양리
10041449,대전광역시 서구 둔산동,1510,1510,0.0,목련,101.8300,202408,1,"98,500",1,1993.0,둔산남로 127,대전광역시,서구,둔산동
10041450,인천광역시 서구 마전동,925,925,0.0,서해,59.9700,202408,1,"15,800",2,1992.0,검단로487번안길 16,인천광역시,서구,마전동

In [75]:
(apart_data['거래유형'] == '-').sum()

9000194

In [76]:
(apart_data['중개사소재지'] == '-').sum()

9121108

In [77]:
apart_data = apart_data.drop(['거래유형', '중개사소재지'], axis=1)
apart_data

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명
0,강원특별자치도 양구군 양구읍 상리,510,510,0.0,경림,59.4000,200509,23,"5,000",11,1998.0,양록길23번길 11
1,경기도 의정부시 민락동,756-7,756,7.0,한라비발디,84.9900,200510,30,"12,750",19,2003.0,오목로 73
2,경기도 의정부시 신곡동,456,456,0.0,신일1,59.8780,200510,20,"5,750",3,1997.0,시민로245번길 10
3,경기도 의정부시 신곡동,727-1,727,1.0,풍림,49.8300,200510,20,"5,500",8,1998.0,회룡로 245
4,경기도 의정부시 용현동,46,46,0.0,용현현대1차,129.7300,200511,21,"12,200",11,1992.0,오목로 36
...,...,...,...,...,...,...,...,...,...,...,...,...
10041446,인천광역시 서구 당하동,1090-1,1090,1.0,검단힐스테이트4차,107.4423,202408,1,"52,000",8,2012.0,청마로 92
10041447,경기도 수원시 권선구 세류동,1255,1255,0.0,권선어울림,120.4100,202408,1,"58,800",9,2010.0,세권로43번길 26-6
10041448,울산광역시 울주군 온양읍 망양리,가-5-1,5,1.0,회야리버,39.7150,202408,1,"7,000",4,2000.0,원동2길 19-2
10041449,대전광역시 서구 둔산동,1510,1510,0.0,목련,101.8300,202408,1,"98,500",1,1993.0,둔산남로 127
10041450,인천광역시 서구 마전동,925,925,0.0,서해,59.9700,202408,1,"15,800",2,1992.0,검단로487번안길 16

In [78]:
apart_data['시군구'].apply(lambda x: x.split()[:2])

0           [강원특별자치도, 양구군]
1              [경기도, 의정부시]
2              [경기도, 의정부시]
3              [경기도, 의정부시]
4              [경기도, 의정부시]
                 ...
10041446       [인천광역시, 서구]
10041447        [경기도, 수원시]
10041448      [울산광역시, 울주군]
10041449       [대전광역시, 서구]
10041450       [인천광역시, 서구]
Name: 시군구, Length: 10041451, dtype: object

In [79]:
apart_data = apart_data.rename(columns={"시군구":"주소"})
apart_data

,주소,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명
0,강원특별자치도 양구군 양구읍 상리,510,510,0.0,경림,59.4000,200509,23,"5,000",11,1998.0,양록길23번길 11
1,경기도 의정부시 민락동,756-7,756,7.0,한라비발디,84.9900,200510,30,"12,750",19,2003.0,오목로 73
2,경기도 의정부시 신곡동,456,456,0.0,신일1,59.8780,200510,20,"5,750",3,1997.0,시민로245번길 10
3,경기도 의정부시 신곡동,727-1,727,1.0,풍림,49.8300,200510,20,"5,500",8,1998.0,회룡로 245
4,경기도 의정부시 용현동,46,46,0.0,용현현대1차,129.7300,200511,21,"12,200",11,1992.0,오목로 36
...,...,...,...,...,...,...,...,...,...,...,...,...
10041446,인천광역시 서구 당하동,1090-1,1090,1.0,검단힐스테이트4차,107.4423,202408,1,"52,000",8,2012.0,청마로 92
10041447,경기도 수원시 권선구 세류동,1255,1255,0.0,권선어울림,120.4100,202408,1,"58,800",9,2010.0,세권로43번길 26-6
10041448,울산광역시 울주군 온양읍 망양리,가-5-1,5,1.0,회야리버,39.7150,202408,1,"7,000",4,2000.0,원동2길 19-2
10041449,대전광역시 서구 둔산동,1510,1510,0.0,목련,101.8300,202408,1,"98,500",1,1993.0,둔산남로 127
10041450,인천광역시 서구 마전동,925,925,0.0,서해,59.9700,202408,1,"15,800",2,1992.0,검단로487번안길 16

In [80]:
apart_data[['시군', '시군구', '법정동명']] = apart_data['주소'].str.split(n=2, expand=True)

In [81]:
apart_data

,주소,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,시군,시군구,법정동명
0,강원특별자치도 양구군 양구읍 상리,510,510,0.0,경림,59.4000,200509,23,"5,000",11,1998.0,양록길23번길 11,강원특별자치도,양구군,양구읍 상리
1,경기도 의정부시 민락동,756-7,756,7.0,한라비발디,84.9900,200510,30,"12,750",19,2003.0,오목로 73,경기도,의정부시,민락동
2,경기도 의정부시 신곡동,456,456,0.0,신일1,59.8780,200510,20,"5,750",3,1997.0,시민로245번길 10,경기도,의정부시,신곡동
3,경기도 의정부시 신곡동,727-1,727,1.0,풍림,49.8300,200510,20,"5,500",8,1998.0,회룡로 245,경기도,의정부시,신곡동
4,경기도 의정부시 용현동,46,46,0.0,용현현대1차,129.7300,200511,21,"12,200",11,1992.0,오목로 36,경기도,의정부시,용현동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10041446,인천광역시 서구 당하동,1090-1,1090,1.0,검단힐스테이트4차,107.4423,202408,1,"52,000",8,2012.0,청마로 92,인천광역시,서구,당하동
10041447,경기도 수원시 권선구 세류동,1255,1255,0.0,권선어울림,120.4100,202408,1,"58,800",9,2010.0,세권로43번길 26-6,경기도,수원시,권선구 세류동
10041448,울산광역시 울주군 온양읍 망양리,가-5-1,5,1.0,회야리버,39.7150,202408,1,"7,000",4,2000.0,원동2길 19-2,울산광역시,울주군,온양읍 망양리
10041449,대전광역시 서구 둔산동,1510,1510,0.0,목련,101.8300,202408,1,"98,500",1,1993.0,둔산남로 127,대전광역시,서구,둔산동
10041450,인천광역시 서구 마전동,925,925,0.0,서해,59.9700,202408,1,"15,800",2,1992.0,검단로487번안길 16,인천광역시,서구,마전동

In [82]:
apart_data['시군'].unique()

array(['강원특별자치도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시',
       '부산광역시', '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도',
       '제주특별자치도', '충청남도', '충청북도', '전북특별자치도'], dtype=object)

In [83]:
apart_data['시군'] = apart_data['시군'].apply(add_name_change)

In [84]:
apart_data['시군'].unique()

array(['강원특별자치도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시',
       '부산광역시', '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전북특별자치도',
       '제주특별자치도', '충청남도', '충청북도'], dtype=object)

# 아파트 실거래가 데이터에 학원 수 데이터 추가

In [85]:
academy_num = academy_num.reset_index()
academy_num

         시도        시군구   법정동명   학원수
0     서울특별시        강남구    대치동  1279
1     인천광역시        연수구    송도동   851
2     서울특별시        양천구     목동   773
3     대구광역시        수성구    범어동   696
4     서울특별시        양천구    신정동   650
...     ...        ...    ...   ...
3278   전라북도        군산시  중앙로2가     1
3279   전라북도        군산시    장재동     1
3280   전라북도        군산시    장미동     1
3281   전라북도        군산시    월명동     1
3282   경상남도  창원시 마산합포구    대외동     1

[3283 rows x 4 columns]

In [87]:
academy_num['index'] = academy_num['시도'] + " " + academy_num['시군구'] + " " + academy_num['법정동명']
academy_num

         시도        시군구   법정동명   학원수               index
0     서울특별시        강남구    대치동  1279       서울특별시 강남구 대치동
1     인천광역시        연수구    송도동   851       인천광역시 연수구 송도동
2     서울특별시        양천구     목동   773        서울특별시 양천구 목동
3     대구광역시        수성구    범어동   696       대구광역시 수성구 범어동
4     서울특별시        양천구    신정동   650       서울특별시 양천구 신정동
...     ...        ...    ...   ...                 ...
3278   전라북도        군산시  중앙로2가     1      전라북도 군산시 중앙로2가
3279   전라북도        군산시    장재동     1        전라북도 군산시 장재동
3280   전라북도        군산시    장미동     1        전라북도 군산시 장미동
3281   전라북도        군산시    월명동     1        전라북도 군산시 월명동
3282   경상남도  창원시 마산합포구    대외동     1  경상남도 창원시 마산합포구 대외동

[3283 rows x 5 columns]

In [88]:
academy_num['index'].isna().sum()

0

In [89]:
academy_num = academy_num.set_index('index')
academy_num

                       시도        시군구   법정동명   학원수
index
서울특별시 강남구 대치동       서울특별시        강남구    대치동  1279
인천광역시 연수구 송도동       인천광역시        연수구    송도동   851
서울특별시 양천구 목동        서울특별시        양천구     목동   773
대구광역시 수성구 범어동       대구광역시        수성구    범어동   696
서울특별시 양천구 신정동       서울특별시        양천구    신정동   650
...                   ...        ...    ...   ...
전라북도 군산시 중앙로2가       전라북도        군산시  중앙로2가     1
전라북도 군산시 장재동         전라북도        군산시    장재동     1
전라북도 군산시 장미동         전라북도        군산시    장미동     1
전라북도 군산시 월명동         전라북도        군산시    월명동     1
경상남도 창원시 마산합포구 대외동   경상남도  창원시 마산합포구    대외동     1

[3283 rows x 4 columns]

In [90]:
apart_data['index'] = apart_data['시군'] + " " + apart_data['시군구'] + " " + apart_data['법정동명']
apart_data

,주소,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,시군,시군구,법정동명,index
0,강원특별자치도 양구군 양구읍 상리,510,510,0.0,경림,59.4000,200509,23,"5,000",11,1998.0,양록길23번길 11,강원특별자치도,양구군,양구읍 상리,강원특별자치도 양구군 양구읍 상리
1,경기도 의정부시 민락동,756-7,756,7.0,한라비발디,84.9900,200510,30,"12,750",19,2003.0,오목로 73,경기도,의정부시,민락동,경기도 의정부시 민락동
2,경기도 의정부시 신곡동,456,456,0.0,신일1,59.8780,200510,20,"5,750",3,1997.0,시민로245번길 10,경기도,의정부시,신곡동,경기도 의정부시 신곡동
3,경기도 의정부시 신곡동,727-1,727,1.0,풍림,49.8300,200510,20,"5,500",8,1998.0,회룡로 245,경기도,의정부시,신곡동,경기도 의정부시 신곡동
4,경기도 의정부시 용현동,46,46,0.0,용현현대1차,129.7300,200511,21,"12,200",11,1992.0,오목로 36,경기도,의정부시,용현동,경기도 의정부시 용현동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10041446,인천광역시 서구 당하동,1090-1,1090,1.0,검단힐스테이트4차,107.4423,202408,1,"52,000",8,2012.0,청마로 92,인천광역시,서구,당하동,인천광역시 서구 당하동
10041447,경기도 수원시 권선구 세류동,1255,1255,0.0,권선어울림,120.4100,202408,1,"58,800",9,2010.0,세권로43번길 26-6,경기도,수원시,권선구 세류동,경기도 수원시 권선구 세류동
10041448,울산광역시 울주군 온양읍 망양리,가-5-1,5,1.0,회야리버,39.7150,202408,1,"7,000",4,2000.0,원동2길 19-2,울산광역시,울주군,온양읍 망양리,울산광역시 울주군 온양읍 망양리
10041449,대전광역시 서구 둔산동,1510,1510,0.0,목련,101.8300,202408,1,"98,500",1,1993.0,둔산남로 127,대전광역시,서구,둔산동,대전광역시 서구 둔산동
10041450,인천광역시 서구 마전동,925,925,0.0,서해,59.9700,202408,1,"15,800",2,1992.0,검단로487번안길 16,인천광역시,서구,마전동,인천광역시 서구 마전동

In [94]:
apart_data

,주소,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,시군,시군구,법정동명
index,,,,,,,,,,,,,,,
강원특별자치도 양구군 양구읍 상리,강원특별자치도 양구군 양구읍 상리,510,510,0.0,경림,59.4000,200509,23,"5,000",11,1998.0,양록길23번길 11,강원특별자치도,양구군,양구읍 상리
경기도 의정부시 민락동,경기도 의정부시 민락동,756-7,756,7.0,한라비발디,84.9900,200510,30,"12,750",19,2003.0,오목로 73,경기도,의정부시,민락동
경기도 의정부시 신곡동,경기도 의정부시 신곡동,456,456,0.0,신일1,59.8780,200510,20,"5,750",3,1997.0,시민로245번길 10,경기도,의정부시,신곡동
경기도 의정부시 신곡동,경기도 의정부시 신곡동,727-1,727,1.0,풍림,49.8300,200510,20,"5,500",8,1998.0,회룡로 245,경기도,의정부시,신곡동
경기도 의정부시 용현동,경기도 의정부시 용현동,46,46,0.0,용현현대1차,129.7300,200511,21,"12,200",11,1992.0,오목로 36,경기도,의정부시,용현동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
인천광역시 서구 당하동,인천광역시 서구 당하동,1090-1,1090,1.0,검단힐스테이트4차,107.4423,202408,1,"52,000",8,2012.0,청마로 92,인천광역시,서구,당하동
경기도 수원시 권선구 세류동,경기도 수원시 권선구 세류동,1255,1255,0.0,권선어울림,120.4100,202408,1,"58,800",9,2010.0,세권로43번길 26-6,경기도,수원시,권선구 세류동
울산광역시 울주군 온양읍 망양리,울산광역시 울주군 온양읍 망양리,가-5-1,5,1.0,회야리버,39.7150,202408,1,"7,000",4,2000.0,원동2길 19-2,울산광역시,울주군,온양읍 망양리
대전광역시 서구 둔산동,대전광역시 서구 둔산동,1510,1510,0.0,목련,101.8300,202408,1,"98,500",1,1993.0,둔산남로 127,대전광역시,서구,둔산동
인천광역시 서구 마전동,인천광역시 서구 마전동,925,925,0.0,서해,59.9700,202408,1,"15,800",2,1992.0,검단로487번안길 16,인천광역시,서구,마전동

In [93]:
apart_data['index'].isna().sum()

KeyError: 'index'

In [91]:
apart_data = apart_data.set_index('index')
apart_data

,주소,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,시군,시군구,법정동명
index,,,,,,,,,,,,,,,
강원특별자치도 양구군 양구읍 상리,강원특별자치도 양구군 양구읍 상리,510,510,0.0,경림,59.4000,200509,23,"5,000",11,1998.0,양록길23번길 11,강원특별자치도,양구군,양구읍 상리
경기도 의정부시 민락동,경기도 의정부시 민락동,756-7,756,7.0,한라비발디,84.9900,200510,30,"12,750",19,2003.0,오목로 73,경기도,의정부시,민락동
경기도 의정부시 신곡동,경기도 의정부시 신곡동,456,456,0.0,신일1,59.8780,200510,20,"5,750",3,1997.0,시민로245번길 10,경기도,의정부시,신곡동
경기도 의정부시 신곡동,경기도 의정부시 신곡동,727-1,727,1.0,풍림,49.8300,200510,20,"5,500",8,1998.0,회룡로 245,경기도,의정부시,신곡동
경기도 의정부시 용현동,경기도 의정부시 용현동,46,46,0.0,용현현대1차,129.7300,200511,21,"12,200",11,1992.0,오목로 36,경기도,의정부시,용현동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
인천광역시 서구 당하동,인천광역시 서구 당하동,1090-1,1090,1.0,검단힐스테이트4차,107.4423,202408,1,"52,000",8,2012.0,청마로 92,인천광역시,서구,당하동
경기도 수원시 권선구 세류동,경기도 수원시 권선구 세류동,1255,1255,0.0,권선어울림,120.4100,202408,1,"58,800",9,2010.0,세권로43번길 26-6,경기도,수원시,권선구 세류동
울산광역시 울주군 온양읍 망양리,울산광역시 울주군 온양읍 망양리,가-5-1,5,1.0,회야리버,39.7150,202408,1,"7,000",4,2000.0,원동2길 19-2,울산광역시,울주군,온양읍 망양리
대전광역시 서구 둔산동,대전광역시 서구 둔산동,1510,1510,0.0,목련,101.8300,202408,1,"98,500",1,1993.0,둔산남로 127,대전광역시,서구,둔산동
인천광역시 서구 마전동,인천광역시 서구 마전동,925,925,0.0,서해,59.9700,202408,1,"15,800",2,1992.0,검단로487번안길 16,인천광역시,서구,마전동

In [ ]:
apart_data = apart_data.join(academy_num[['학원수']])

In [ ]:
apart_data

In [ ]:
apart_data = apart_data.reset_index()
apart_data

In [ ]:
apart_data['학원수'] = apart_data['학원수'].fillna(0)
apart_data

# 계약년월 합치고 환율과 이자율 데이터 합치기

In [ ]:
apart_data['계약일'] = apart_data['계약일'].apply(lambda x: f"{x:02d}")

In [ ]:
apart_data['계약년월'] = apart_data['계약년월'].apply(str)

In [ ]:
apart_data['계약일'] = apart_data['계약일'].apply(str)

In [ ]:
apart_data['date'] =  apart_data['계약년월'] + apart_data['계약일']

In [ ]:
apart_data.head(2)

In [ ]:
apart_data.columns

In [ ]:
apart_data = apart_data[['index', '단지명', '전용면적(㎡)', '거래금액(만원)', '층', '건축년도', '학원수', 'date']]
apart_data

In [ ]:
apart_data.loc[:,'date'] = pd.to_datetime(apart_data['date'])
apart_data['date']

In [ ]:
apart_data.head(2)

In [ ]:
apart_data['date'].min()

In [ ]:
apart_data = apart_data.sort_values(by='date')
apart_data

In [ ]:
interest_rate = interest_rate.sort_values(by='date')

In [ ]:
interest_rate['date'] = pd.to_datetime(interest_rate['date'])
interest_rate['date'].dtype

In [ ]:
# 기준금리 데이터프레임에 end_date 추가
interest_rate['end_date'] = interest_rate['date'].shift(-1, fill_value=pd.Timestamp('2024-12-31'))

In [ ]:
interest_rate

In [ ]:
apart_data = pd.merge_asof(apart_data.sort_values('date'), interest_rate[['date', '기준금리']].sort_values('date'), on='date', direction='backward')

In [ ]:
apart_data

# 환율 데이터 합치기

In [ ]:
apart_data = pd.merge_asof(apart_data.sort_values('date'), exrate_usa[['date', '현찰_살때_환율']].sort_values('date'), on='date', direction='backward')

In [ ]:
apart_data

In [ ]:
apart_data['거래금액(만원)'] = apart_data['거래금액(만원)'].str.replace(",", "")
apart_data.head(2)

In [ ]:
apart_data.info(show_counts=True)

In [ ]:
apart_data.isna().sum()

In [ ]:
apart_data[apart_data['index'].isna() ==True]

In [ ]:
apart_data = apart_data.dropna()

In [ ]:
apart_data['거래금액(만원)'] = apart_data['거래금액(만원)'].astype(int)
apart_data['층'] = apart_data['층'].astype(int)
apart_data['건축년도'] = apart_data['건축년도'].astype(int)

In [ ]:
apart_data.info()

In [ ]:
import gc

# 가비지 컬렉션 강제 실행
gc.collect()

In [ ]:
apart_data2 = pd.get_dummies(apart_data, sparse=True)

In [ ]:
apart_data2

In [ ]:
X = apart_data2.drop('거래금액(만원)', axis=1)
y = apart_data2['거래금액(만원)']